<div class="flex flex-col">
  <h5 class="font-bold mb-4">{{ list().heading }}</h5>
  <ul class="grid gap-y-4 gap-x-2 pl-0" [class]="`sm:grid-cols-${cols()}`">
    @for (item of list().items; track `${item.label}_${item.id}`) {
      <li class="flex items-center gap-3">
        @if (item.icon) {
          <img
            [src]="generateMediaUrl(item.icon.url)"
            [alt]="item.icon.alternativeText"
            class="w-10 h-10"
          />
        }
        <span>{{ item.label }}</span>
      </li>
    }
  </ul>
</div>
