li > a {
  width: 100%;
  padding: 1rem;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  border: 1px solid var(--color-agridata-overlay-border);
}

li > a:hover {
  background: var(--color-agridata-primary-50);
}

li:first-child > a {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

li:last-child > a {
  border-bottom: 1px solid var(--color-agridata-overlay-border);
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
