<div class="bg-white p-6 lg:p-8 border border-agridata-stroke rounded-lg flex gap-14 w-full h-full">
  @if (block().image) {
    <img
      [src]="generateMediaUrl(block().image.url)"
      [alt]="block().image.alternativeText"
      class="w-[200px] h-[200px] rounded-full hidden lg:block shrink-0 object-fit"
    />
  }
  <div class="flex flex-col gap-11 justify-between">
    <span>{{ block().quote }}</span>
    <div class="flex gap-2">
      @if (block().image) {
        <img
          [src]="generateMediaUrl(block().image.url)"
          [alt]="block().image.alternativeText"
          class="w-[50px] h-[50px] rounded-full lg:hidden"
        />
      }
      <div class="flex flex-col gap-2">
        <span class="font-semibold lg:font-bold lg:text-lg">{{ block().name }}</span>
        <span class="text-sm text-agridata-tertiary-text">{{ block().location }}</span>
      </div>
    </div>
  </div>
</div>
