<ng-container *i18n="let t; prefix: 'data-products.detailPanel'">
  <app-sidepanel
    [isOpen]="isOpen()"
    [title]="t('title')"
    [maxWidth]="'1080px'"
    [dataTestId]="'data-product-detail-sidepanel'"
    (closeSidepanel)="cancel()"
    [subTitle]="t('subTitle')"
  >
    <ng-container *i18n="let t; prefix: 'data-products.detailForm'">
      <app-agridata-tabs
        class="sticky top-0 z-10 bg-white"
        [tabs]="tabs()"
        [(activeTabId)]="activeTabId"
      />
      <div
        class="flex flex-col flex-1 min-h-0 overflow-y-auto overflow-x-hidden gap-8 pb-4"
        appScrollFade
      >
        <app-data-product-detail-info
          [form]="getTabForm(FORM_TAB_IDS.NAME_AND_DESCRIPTION)"
          [class.hidden]="activeTabId() !== FORM_TAB_IDS.NAME_AND_DESCRIPTION"
        />
        <app-data-product-detail-technical
          [form]="getTabForm(FORM_TAB_IDS.TECHNICAL_FIELDS)"
          [class.hidden]="activeTabId() !== FORM_TAB_IDS.TECHNICAL_FIELDS"
        />
      </div>

      <div class="flex justify-between">
        <app-agridata-button
          [variant]="ButtonVariants.Tertiary"
          [disabled]="isSaving()"
          (handleClick)="cancel()"
        >
          {{ t('cancel') }}
        </app-agridata-button>
        <div class="flex gap-4">
          <app-agridata-button
            [variant]="ButtonVariants.Secondary"
            [loading]="isSaving()"
            (handleClick)="saveDraft()"
          >
            {{ t('saveDraft') }}
          </app-agridata-button>
          <app-agridata-button [loading]="isSaving()" (handleClick)="saveAndPublish()">
            {{ t('saveAndPublish') }}
          </app-agridata-button>
        </div>
      </div>
    </ng-container>
  </app-sidepanel>
</ng-container>
