<ng-container *i18n="let t; prefix: 'data-products.detailPanel'">
  <app-sidepanel
    [isOpen]="isOpen()"
    [title]="sidepanelTitle()"
    [maxWidth]="'1080px'"
    [dataTestId]="'data-product-detail-sidepanel'"
    (closeSidepanel)="closeSidepanel()"
    [subTitle]="t('subTitle')"
  >
    <ng-container *i18n="let t; prefix: 'data-products.detailForm'">
      @if (dataProductResource.isLoading()) {
        <fa-icon
          animation="spin"
          [icon]="faSpinnerThird"
          size="3x"
          class="absolute flex items-center justify-center inset-0"
        />
      } @else {
        @if (stateCode()) {
          <app-agridata-badge
            [text]="getStatusTranslation(stateCode() ?? '', i18nService)"
            [variant]="getBadgeVariant(stateCode())"
            [size]="BadgeSize.SM"
          />
        }
        <app-agridata-tabs
          class="sticky top-0 z-10 bg-white"
          [tabs]="tabs()"
          [(activeTabId)]="activeTabId"
        />
        <div
          class="flex flex-col flex-1 min-h-0 overflow-y-auto overflow-x-hidden gap-8 pb-4"
          appScrollFade
        >
          <app-data-product-detail-info
            [form]="getTabForm(FORM_TAB_IDS.NAME_AND_DESCRIPTION)"
            [isViewMode]="isViewMode()"
            [class.hidden]="activeTabId() !== FORM_TAB_IDS.NAME_AND_DESCRIPTION"
            [stateCode]="stateCode()"
          />
          <app-data-product-detail-technical
            [form]="getTabForm(FORM_TAB_IDS.TECHNICAL_FIELDS)"
            [isViewMode]="isViewMode()"
            [isEditMode]="isEditMode()"
            [preselectedProviderId]="preselectedProviderId()"
            [class.hidden]="activeTabId() !== FORM_TAB_IDS.TECHNICAL_FIELDS"
          />
          <app-data-product-detail-links-documents
            [form]="getTabForm(FORM_TAB_IDS.LINKS_DOCUMENTS)"
            [isViewMode]="isViewMode()"
            [class.hidden]="activeTabId() !== FORM_TAB_IDS.LINKS_DOCUMENTS"
          />
        </div>

        <div class="flex justify-between">
          @if (isViewMode()) {
            <app-agridata-button (handleClick)="enterEditMode()">
              {{ t('edit') }}
            </app-agridata-button>
          } @else if (isEditMode()) {
            <app-agridata-button
              [variant]="ButtonVariants.Tertiary"
              [disabled]="isSaving()"
              (handleClick)="cancel()"
            >
              {{ t('cancel') }}
            </app-agridata-button>
            <app-agridata-button [loading]="isSaving()" (handleClick)="saveChanges()">
              {{ t('saveChanges') }}
            </app-agridata-button>
          } @else {
            <app-agridata-button
              [variant]="ButtonVariants.Tertiary"
              [disabled]="isSaving()"
              (handleClick)="cancel()"
            >
              {{ t('cancel') }}
            </app-agridata-button>
            <div class="flex gap-4">
              @if (canSaveDraft()) {
                <app-agridata-button
                  [variant]="ButtonVariants.Secondary"
                  [loading]="isSaving()"
                  (handleClick)="saveDraft()"
                >
                  {{ t('saveDraft') }}
                </app-agridata-button>
              }
              <app-agridata-button [loading]="isSaving()" (handleClick)="saveAndPublish()">
                {{ t('saveAndPublish') }}
              </app-agridata-button>
            </div>
          }
        </div>
      }
    </ng-container>
  </app-sidepanel>
  <app-modal
    [(open)]="showPublishModal"
    [title]="t('publishConfirmation.title')"
    [dataTestId]="'publish-data-product-modal'"
    (closed)="cancelPublish()"
  >
    <div class="flex flex-col gap-4">
      <span
        class="whitespace-pre-line text-center"
        [innerHTML]="t('publishConfirmation.description')"
      ></span>
      <div class="flex justify-between gap-2">
        <app-agridata-button [variant]="ButtonVariants.Secondary" (handleClick)="cancelPublish()">
          {{ t('publishConfirmation.cancel') }}
        </app-agridata-button>
        <app-agridata-button
          [variant]="ButtonVariants.Primary"
          [loading]="isSaving()"
          (handleClick)="confirmPublish()"
        >
          {{ t('publishConfirmation.publish') }}
        </app-agridata-button>
      </div>
    </div>
  </app-modal>
</ng-container>
