<ng-container *i18n="let t; prefix: 'consumer'">
  <app-sidepanel
    [title]="t('sidePanelTitle')"
    [isOpen]="true"
    (closeSidepanel)="handleClose()"
    [maxWidth]="'1280px'"
    [backgroundColor]="'#efefef'"
  >
    <app-agridata-wizard
      [steps]="formControlSteps()"
      #wizard
      (onStepChange)="handleStepChange()"
      class="flex flex-col flex-1 min-h-0 relative"
    >
      <div wizardContent>
        <app-error-outlet></app-error-outlet>
        @switch (wizard.currentStepId()) {
          @case (FORM_GROUP_NAMES.CONSUMER) {
            <app-data-request-form-consumer
              [form]="form"
              (saveLogo)="handleSaveLogo($event)"
              [dataRequestLogo]="dataRequest()?.dataConsumerLogoBase64"
              [formDisabled]="formDisabled()"
            />
          }
          @case (FORM_GROUP_NAMES.REQUEST) {
            <app-data-request-form-request
              [form]="form"
              [formDisabled]="formDisabled()"
              [dataProviderId]="dataRequest()?.dataProviderId"
            />
          }
          @case (FORM_GROUP_NAMES.PREVIEW) {
            <app-data-request-preview [dataRequest]="dataRequest()!" />
          }
          @case (FORM_GROUP_NAMES.PRODUCER) {
            <app-data-request-form-producer [form]="form" [formDisabled]="formDisabled()" />
          }
          @case (FORM_GROUP_NAMES.CONTRACT) {
            <app-data-request-form-contract
              [dataRequest]="dataRequest()!"
              (reloadDataRequest)="handleReloadDataRequest()"
            />
          }
          @case (FORM_GROUP_NAMES.COMPLETION) {
            <app-data-request-completion
              [dataRequest]="dataRequest()!"
              [hasReleasedToProvider]="hasFreshReleasedToProvider()"
            />
          }
        }
      </div>
      <div wizardFooter class="contents" *i18n="let t; prefix: 'data-request.wizard'">
        @if (wizard.currentStep() !== formControlSteps().length - 1) {
          @if (
            (wizard.currentStepId() !== FORM_GROUP_NAMES.CONTRACT &&
              wizard.currentStepId() !== FORM_GROUP_NAMES.COMPLETION &&
              dataRequest()?.stateCode === DataRequestStateEnum.Draft) ||
            dataRequest()?.stateCode === null
          ) {
            <app-agridata-button
              [variant]="ButtonVariants.Tertiary"
              [loading]="isSaving()"
              (onClick)="handleSave()"
              [disabled]="formDisabled()"
            >
              {{ t('saveDraft') }}
            </app-agridata-button>
          } @else if (
            dataRequest()?.stateCode &&
            dataRequest()?.stateCode !== DataRequestStateEnum.Draft &&
            dataRequest()?.stateCode !== DataRequestStateEnum.Active
          ) {
            <app-agridata-button [variant]="ButtonVariants.Secondary" (onClick)="handleRetreat()">
              <fa-icon [icon]="retreatIcon"></fa-icon>
              {{ t('retreatRequest') }}
            </app-agridata-button>
          }
          <div class="flex grow gap-4 justify-end">
            <app-agridata-button
              [variant]="ButtonVariants.Secondary"
              [loading]="isSaving()"
              (onClick)="handlePreviousStep()"
              [disabled]="wizard.currentStep() === 0"
            >
              <fa-icon [icon]="previousIcon"></fa-icon>
              <span class="ml-2">{{ t('previous') }}</span>
            </app-agridata-button>
            @if (wizard.currentStepId() === FORM_GROUP_NAMES.PRODUCER && !formDisabled()) {
              <app-agridata-button [loading]="isSaving()" (onClick)="handleSubmitAndContinue()">
                {{ t('submitAndContinue') }}
                <fa-icon [icon]="nextIcon"></fa-icon>
              </app-agridata-button>
            } @else {
              <app-agridata-button
                [loading]="isSaving()"
                (onClick)="handleNextStep()"
                [disabled]="isNextStepDisabled()"
              >
                <span class="mr-2">{{ t('next') }}</span>
                <fa-icon [icon]="nextIcon"></fa-icon>
              </app-agridata-button>
            }
          </div>
        } @else {
          <div class="flex grow gap-4 justify-end">
            <app-agridata-button
              [variant]="ButtonVariants.Secondary"
              [loading]="isSaving()"
              (onClick)="handlePreviousStep()"
              [disabled]="wizard.currentStep() === 0"
            >
              {{ t('previous') }}
            </app-agridata-button>
            <app-agridata-button
              [loading]="isHandlingReleaseDataRequest()"
              (onClick)="handleRelease()"
              [disabled]="!canReleaseDataRequest()"
            >
              {{ t('releaseToProvider') }}
            </app-agridata-button>
          </div>
        }
      </div>
    </app-agridata-wizard>
  </app-sidepanel>
</ng-container>
