<div
  class="flex gap-4 py-4 px-6 rounded-lg"
  [class.bg-agridata-content-gray]="type() === AlertType.NEUTRAL"
  [class.bg-yellow-100]="type() === AlertType.WARNING"
  [class.bg-red-100]="type() === AlertType.ERROR"
  [class.bg-green-100]="type() === AlertType.SUCCESS"
  [class.bg-blue-100]="type() === AlertType.INFO"
>
  <fa-icon class="mt-1" size="xl" [icon]="alertIcon()"></fa-icon>
  <span
    class="leading-[130%]"
    [class.text-gray-700]="type() === AlertType.NEUTRAL"
    [class.text-orange-700]="type() === AlertType.WARNING"
    [class.text-red-700]="type() === AlertType.ERROR"
    [class.text-green-700]="type() === AlertType.SUCCESS"
    [class.text-blue-700]="type() === AlertType.INFO"
  >
    {{ message() }}
  </span>
</div>
