<ng-template #messageContent>
  @if (message(); as message) {
    <span [i18nFormat]="message"></span>
  } @else {
    <ng-content></ng-content>
  }
  @if (additionalInfo()) {
    <span class="text-sm">{{ additionalInfo() }}</span>
  }
</ng-template>

<ng-template #expandableButton>
  <app-agridata-button
    [variant]="ButtonVariants.Link"
    [ariaExpanded]="isExpanded()"
    (handleClick)="toggleExpanded()"
  >
    {{ (isExpanded() ? 'common.alert.showLess' : 'common.alert.showMore') | i18n }}
  </app-agridata-button>
</ng-template>

<div
  class="flex flex-col items-center gap-2 py-4 px-6 rounded-lg"
  [attr.role]="type() === AlertType.ERROR ? 'alert' : 'status'"
  [class.bg-gray-100]="type() === AlertType.NEUTRAL"
  [class.text-gray-600]="type() === AlertType.NEUTRAL"
  [class.bg-orange-100]="type() === AlertType.WARNING"
  [class.text-orange-700]="type() === AlertType.WARNING"
  [class.bg-red-100]="type() === AlertType.ERROR"
  [class.text-red-700]="type() === AlertType.ERROR"
  [class.bg-green-100]="type() === AlertType.SUCCESS"
  [class.text-green-700]="type() === AlertType.SUCCESS"
  [class.bg-sky-100]="type() === AlertType.INFO"
  [class.text-sky-700]="type() === AlertType.INFO"
>
  <div class="flex flex-1 gap-2 justify-between w-full">
    <div class="flex items-center gap-2">
      <fa-icon class="shrink-0" size="xl" [icon]="alertIcon()"></fa-icon>
      @if (title()) {
        <span class="font-bold">{{ title() }}</span>
      } @else {
        <div class="flex flex-col gap-2">
          <ng-container [ngTemplateOutlet]="messageContent" />
        </div>
      }
    </div>
    <div class="flex gap-2 items-center">
      @if (isExpandable()) {
        <div class="max-md:hidden">
          <ng-container [ngTemplateOutlet]="expandableButton" />
        </div>
      }
      @if (showCloseButton()) {
        <app-agridata-button
          additionalClass="max-md:self-start"
          [ariaLabel]="'common.ariaLabel.close' | i18n"
          [variant]="ButtonVariants.Icon"
          [dataTestId]="dataTestId() ? dataTestId() + '-close' : undefined"
          (handleClick)="closeAlert.emit(true)"
        >
          <fa-icon size="xl" [icon]="closeIcon"></fa-icon>
        </app-agridata-button>
      }
    </div>
  </div>

  @if (showContent()) {
    <div class="flex gap-2 w-full">
      <ng-container [ngTemplateOutlet]="messageContent" />
    </div>
  }

  @if (isExpandable()) {
    <div class="self-start md:hidden">
      <ng-container [ngTemplateOutlet]="expandableButton" />
    </div>
  }
</div>
