<ng-container *i18n="let t; prefix: 'consumer'">
  <div class="flex justify-between">
    <h2 class="page-title">
      <fa-icon [icon]="icon" class="mr-3" />
      {{ t('pageTitle') }}
    </h2>
    <div>
      <app-agridata-button
        (onClick)="newRequest()"
        (keydown.enter)="newRequest()"
        [variant]="ButtonVariants.Primary"
      >
        <fa-icon [icon]="buttonIcon" class="mr-2" />
        <span>{{ t('createNewDataRequest') }}</span>
      </app-agridata-button>
    </div>
  </div>
  <app-error-outlet></app-error-outlet>
  <router-outlet></router-outlet>
  <app-data-request-table
    [dataRequests]="dataRequests()"
    [dataRequestsResource]="dataRequestsResource"
    (tableRowAction)="navigateToRequest($event)"
  ></app-data-request-table>
</ng-container>
<div class="flex justify-end"></div>
