<ng-container *i18n="let t; prefix: 'consumer'">
  <div class="flex justify-between">
    <h2 class="mb-12"><fa-icon [icon]="icon" class="mr-3" />{{ t('pageTitle') }}</h2>
    <div>
      <app-agridata-button
        (onClick)="handleOpen()"
        (keydown.enter)="handleOpen()"
        [variant]="ButtonVariants.Primary"
      >
        <fa-icon [icon]="buttonIcon" class="mr-2" />
        <span>{{ t('createNewDataRequest') }}</span>
      </app-agridata-button>
      <!-- TODO: add skin variable -->
      <app-sidepanel
        [title]="t('sidePanelTitle')"
        [isOpen]="showPanel()"
        (onClose)="handleClose()"
        [maxWidth]="'75%'"
        [backgroundColor]="'#efefef'"
      >
        @if(showPanel()) {
        <app-data-request-new class="contents" />
        }
      </app-sidepanel>
    </div>
  </div>
</ng-container>
<div class="flex justify-end"></div>
