<ng-container *i18n="let t; prefix: 'admin'">
  <app-sidepanel
    [title]="t('sidePanelTitle')"
    [isOpen]="!dataRequestResource.isLoading()"
    (closeSidepanel)="handleClose()"
    [maxWidth]="'800px'"
  >
    <app-error-outlet />
    <!-- Sidepanel metadata -->
    <div class="flex flex-col gap-4 p-4 bg-agridata-content-gray rounded-lg">
      <h4>{{ t('details.title') }}</h4>
      <div class="flex justify-between">
        <div class="flex flex-col">
          <span class="text-agridata-tertiary-text text-sm">
            {{ t('data-request.submissionDate') }}
          </span>
          <span class="font-bold">
            {{ formattedSubmissionDate() }}
          </span>
        </div>
        <div class="flex flex-col">
          <span class="text-agridata-tertiary-text text-sm">
            {{ t('data-request.humanFriendlyId') }}
          </span>
          <span class="font-bold">
            {{ dataRequest()?.humanFriendlyId }}
          </span>
        </div>
        <div class="flex flex-col">
          <span class="text-agridata-tertiary-text text-sm">
            {{ t('data-request.state') }}
          </span>
          <app-agridata-badge
            [text]="getStatusTranslation(dataRequest()?.stateCode)"
            [variant]="getBadgeVariant(dataRequest()?.stateCode)"
            [size]="BadgeSize.SM"
          />
        </div>
      </div>
    </div>
    @if (dataRequestResource.isLoading()) {
      <fa-icon
        animation="spin"
        [icon]="faSpinnerThird"
        size="3x"
        class="absolute flex items-center justify-center inset-0"
      ></fa-icon>
    } @else if (dataRequest(); as request) {
      <div class="flex flex-col gap-4 overflow-y-auto flex-1">
        <app-agridata-contact-card
          [imageUrl]="request.dataConsumerLogoBase64"
          [name]="request.dataConsumerDisplayName"
          [secondaryName]="request.dataConsumerCity"
          [size]="AvatarSize.MEDIUM"
          [skin]="AvatarSkin.LIGHT"
        />
        <span class="text-agridata-secondary-text">
          {{ getFieldFromLang('description', locale, request) }}
        </span>
        <app-data-request-purpose-accordion
          [purpose]="getFieldFromLang('purpose', locale, request)"
          [products]="productsList()"
        />
        <app-data-request-contact
          [phoneNumber]="request.contactPhoneNumber"
          [email]="request.contactEmailAddress"
          [organisationName]="request.dataConsumerDisplayName"
        />
      </div>

      <!-- Footer -->
      <div class="flex gap-2">
        <app-agridata-button
          class="flex-1"
          [variant]="ButtonVariants.PrimaryAccept"
          [disabled]="request?.stateCode !== DataRequestStateEnum.InReview"
          (onClick)="acceptRequest()"
        >
          {{ t('actions.accept') }}
        </app-agridata-button>
        <app-agridata-button
          class="flex-1"
          [variant]="ButtonVariants.SecondaryReject"
          [disabled]="request?.stateCode !== DataRequestStateEnum.InReview"
          (onClick)="rejectRequest()"
        >
          {{ t('actions.reject') }}
        </app-agridata-button>
      </div>
    }
  </app-sidepanel>
</ng-container>
