<ng-container *i18n="let t; prefix: 'data-request.details'">
  <app-sidepanel
    [title]="t('sidePanelTitle')"
    [isOpen]="!dataRequestResource.isLoading()"
    (closeSidepanel)="handleSidepanelClose()"
    [maxWidth]="'800px'"
    [dataTestId]="'data-request-details-sidepanel'"
  >
    <app-error-outlet />
    @if (dataRequestResource.isLoading()) {
      <fa-icon
        animation="spin"
        [icon]="faSpinnerThird"
        size="3x"
        class="absolute flex items-center justify-center inset-0"
      ></fa-icon>
    } @else if (dataRequest(); as request) {
      <div class="flex-1 overflow-y-auto min-h-0 flex flex-col">
        <app-agridata-tabs
          class="sticky top-0 z-10 bg-white"
          [tabs]="tabs()"
          [(activeTabId)]="activeTabId"
        />
        @if (activeTabId() === DETAILS_TABS_ID.REQUEST) {
          <app-data-request-details-request
            [dataRequest]="request"
            [isRedirectUriRegexEditable]="isRedirectUriRegexEditable()"
            class="py-6"
          />
        }
        @if (activeTabId() === DETAILS_TABS_ID.PRODUCER) {
          <div class="flex flex-col gap-4 pt-4">
            <!-- Tab 2 content -->
          </div>
        }
        @if (activeTabId() === DETAILS_TABS_ID.CONTRACT) {
          <div class="flex flex-col gap-4 pt-4">
            <!-- Tab 3 content -->
          </div>
        }
        @if (activeTabId() === DETAILS_TABS_ID.EMAIL) {
          <div class="flex flex-col gap-4 pt-4">
            <app-data-request-details-email [dataRequest]="request" />
          </div>
        }
      </div>

      <ng-content select="[footer]" />
    }
  </app-sidepanel>
</ng-container>
