@if (providerLoading()) {
  <div class="flex items-center justify-center h-full">
    <fa-icon animation="spin" [icon]="faSpinnerThird"></fa-icon>
  </div>
} @else if (form()) {
  <form
    [formGroup]="form()!"
    class="flex flex-col gap-10"
    *i18n="let t; prefix: 'data-request.form'"
  >
    <h2>{{ t('request.headline') }}</h2>
    <app-data-request-product
      [form]="form()!"
      [formDisabled]="formDisabled()"
      [dataProviderId]="dataProviderId()"
    />
    <app-data-request-description [form]="form()!" [formDisabled]="formDisabled()" />
    <app-data-request-advantages [form]="form()!" [formDisabled]="formDisabled()" />
  </form>
}
