<div
  class="px-12 py-6 flex flex-col lg:flex-row gap-8 lg:gap-2 justify-between items-center bg-agridata-primary-text text-white"
>
  <div class="flex gap-8 lg:gap-16 flex-col lg:flex-row">
    <img src="assets/images/logo-bund.svg" alt="{{ 'footer.logoBund' | i18n }}" class="h-[50px]" />

    <!-- TODO: add if ready DIGIB2-843
    <img
      src="assets/images/logo-kolas.svg"
      alt="{{ 'footer.logoKolas' | i18n }}"
      class="h-[50px]"
    /> -->

    @if (canResetData()) {
      <button (click)="resetData()" class="text-xs btn btn-secondary">
        Testdaten zurücksetzen
      </button>
    }
  </div>
  <div class="flex flex-col lg:flex-row gap-8 lg:gap-10 items-center">
    <a href="{{ ROUTE_PATHS.IMPRESSUM_PATH }}" class="hover:underline">{{
      'navigation.menuItems.imprint' | i18n
    }}</a>
    <a href="{{ ROUTE_PATHS.PRIVACY_POLICY_PATH }}" class="hover:underline">{{
      'navigation.menuItems.privacyPolicy' | i18n
    }}</a>
    <span class="text-agridata-tertiary-text flex flex-col lg:flex-row items-center gap-1">
      <div class="flex gap-1">
        agridata.ch
        <span (click)="handleClickCopyright()" (keydown.enter)="handleClickCopyright()">
          {{ hideCopyright() ? '🌾' : '©' }}
        </span>
        2025 <span class="hidden lg:flex">—</span>
      </div>
      <div>
        {{ isCmsPage() ? ' ' : ' FE ' }}{{ frontendVersion() }}
        @if (!isCmsPage() && backendVersion()) {
          · BE {{ backendVersion()?.['version'] }}
        }
      </div>
    </span>
  </div>
</div>
