<div class="relative inline-block w-full" (appClickOutside)="handleClickOutside()">
  <button
    #trigger
    type="button"
    class="w-full border border-gray-300 rounded-md px-5 py-3 text-left flex justify-between items-center"
    [class.border-red-500]="hasError()"
    [class.bg-white]="!disabled()"
    [class.bg-gray-100]="disabled()"
    [class.cursor-not-allowed]="disabled()"
    [attr.aria-label]="'input.common.ariaLabel.open' | i18n"
    (click)="toggleDropdown()"
    [disabled]="disabled()"
  >
    <span class="truncate">
      {{ getSelectedOptionLabel() || placeholder() }}
    </span>
    <fa-icon [icon]="dropdownIcon()" class="ml-2 text-gray-500" />
  </button>

  @if (isDropdownOpen()) {
    <div
      #popover
      class="absolut z-50 w-full bg-white border border-gray-300 rounded-md shadow-lg origin-top-left absolute left-0 bottom-full"
      [class.origin-top-left]="openAbove()"
      [class.bottom-full]="openAbove()"
      [class.origin-bottom-left]="!openAbove()"
      [class.top-full]="!openAbove()"
    >
      @for (option of options(); track option.value) {
        <div
          class="flex items-center px-5 py-3 hover:bg-gray-100 cursor-pointer"
          [class.bg-gray-100]="isSelected(option.value)"
          (click)="handleOptionSelect(option.value, $event)"
          (keydown.enter)="handleOptionSelect(option.value, $event)"
        >
          <span>{{ option.label }}</span>
        </div>
      }
    </div>
  }
</div>
