legacy-peer-deps=true
node-options=--max-old-space-size=8192
@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${92D52D3D-1042-483F-A9FA-669C91E903AB}
