<div
  class="flex items-center bg-white rounded-md"
  [class.border]="!isViewMode()"
  [class.border-gray-300]="!hasError()"
  [class.border-red-500]="hasError()"
  [class.has-[input:focus-within]:outline-2]="!isViewMode()"
  [class.has-[input:focus-within]:-outline-offset-2]="!isViewMode()"
>
  @if (inputPrefix()) {
    <span
      aria-hidden="true"
      class="h-full py-3 pl-5 border border-gray-300 rounded-l-md border-r-0 text-base"
      [class.bg-white]="!disabled()"
      [class.bg-gray-100]="disabled()"
      [class.cursor-not-allowed]="disabled()"
    >
      {{ `${inputPrefix()}-` }}
    </span>
  }

  @if (inputPrefixIcon()) {
    <fa-icon [icon]="inputPrefixIcon()" class="text-gray-400 ml-2"></fa-icon>
  }

  @if (control()) {
    <input
      [id]="id()"
      [name]="id()"
      [formControl]="control()!"
      [type]="type()"
      [placeholder]="placeholder()"
      class="placeholder-gray-400 outline-none w-full rounded-md transition-all duration-300 ease-in-out"
      [class.py-3]="!isViewMode()"
      [class.pr-4]="!isViewMode()"
      [class.pl-5]="!isViewMode()"
      [class.bg-white]="!disabled()"
      [class.bg-gray-100]="disabled()"
      [class.pl-15]="inputPrefix()"
      [class.cursor-not-allowed]="disabled() && !isViewMode()"
      [attr.maxlength]="maxCharacters()"
      [attr.aria-label]="
        inputPrefix() ? inputPrefix() + '-' + (placeholder() || '') : placeholder()
      "
      (blur)="handleBlur.emit()"
      [class.pointer-events-none]="isViewMode()"
    />
  } @else {
    <input
      [id]="id()"
      [type]="type()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [(ngModel)]="value"
      [attr.maxlength]="maxCharacters()"
      [attr.aria-label]="
        inputPrefix() ? inputPrefix() + '-' + (placeholder() || '') : placeholder()
      "
      class="placeholder-gray-400 w-full outline-none rounded-md transition-all duration-400 ease-in-out"
      [class.bg-white]="!disabled()"
      [class.bg-gray-100]="disabled()"
      [class.pl-5]="!inputPrefix()"
      [class.py-3]="!isViewMode()"
      [class.pr-4]="!isViewMode()"
      [class.rounded-md]="!inputPrefix()"
      [class.rounded-r-md]="inputPrefix()"
      [class.border-l-0]="inputPrefix()"
      [class.cursor-not-allowed]="disabled()"
      (input)="handleInputChange($event)"
      (blur)="handleBlur.emit()"
    />
  }
  @if (suffixTemplate()) {
    <ng-container *ngTemplateOutlet="suffixTemplate()"></ng-container>
  }
</div>
