<div
  class="flex items-center bg-white rounded-md border border-gray-300 has-[input:focus-within]:outline-2 has-[input:focus-within]:-outline-offset-2"
>
  @if (inputPrefix()) {
    <span
      aria-hidden="true"
      class="h-full py-3 pl-5 border border-gray-300 rounded-l-md border-r-0 text-base"
      [class.bg-white]="!disabled()"
      [class.bg-gray-100]="disabled()"
      [class.cursor-not-allowed]="disabled()"
    >
      {{ `${inputPrefix()}-` }}
    </span>
  }

  @if (inputPrefixIcon()) {
    <fa-icon [icon]="inputPrefixIcon()" class="text-gray-400 ml-2"></fa-icon>
  }

  @if (control()) {
    <input
      [id]="id()"
      [name]="id()"
      [formControl]="control()!"
      [type]="type()"
      [placeholder]="placeholder()"
      class="pl-5 py-3 pr-4 placeholder-gray-400 w-full outline-none focus:outline-none rounded-md"
      [class.border-red-500]="hasError()"
      [class.bg-white]="!disabled()"
      [class.bg-gray-100]="disabled()"
      [class.pl-15]="inputPrefix()"
      [class.cursor-not-allowed]="disabled()"
      [attr.maxlength]="maxCharacters()"
      [attr.aria-label]="
        inputPrefix() ? inputPrefix() + '-' + (placeholder() || '') : placeholder()
      "
      (blur)="onBlur.emit()"
    />
  } @else {
    <input
      [id]="id()"
      [type]="type()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [(ngModel)]="value"
      [attr.maxlength]="maxCharacters()"
      [attr.aria-label]="
        inputPrefix() ? inputPrefix() + '-' + (placeholder() || '') : placeholder()
      "
      class="py-3 pr-4 placeholder-gray-400 w-full outline-none focus:outline-none rounded-md"
      [class.border-red-500]="hasError()"
      [class.bg-white]="!disabled()"
      [class.bg-gray-100]="disabled()"
      [class.pl-5]="!inputPrefix()"
      [class.rounded-md]="!inputPrefix()"
      [class.rounded-r-md]="inputPrefix()"
      [class.border-l-0]="inputPrefix()"
      [class.cursor-not-allowed]="disabled()"
      (input)="handleInputChange($event)"
      (blur)="onBlur.emit()"
    />
  }
  @if (suffixTemplate()) {
    <ng-container *ngTemplateOutlet="suffixTemplate()"></ng-container>
  }
</div>
