<div
  class="container mx-auto px-6 lg:px-10 py-10 lg:py-20 flex flex-col items-center gap-10"
  [attr.id]="cmsData().anchorId ? cmsData().anchorId : null"
>
  <div class="flex flex-col gap-4 text-center w-full">
    <h2>{{ cmsData().heading }}</h2>
    @if (cmsData().subHeading) {
      <p class="text-md lg:text-lg font-medium">{{ cmsData().subHeading }}</p>
    }
  </div>

  <div class="flex flex-col gap-2 w-full items-center">
    @for (card of cmsData().cards; track card.id) {
      <app-timeline-card
        [block]="card"
        [lastItem]="$index === cmsData().cards.length - 1"
        [index]="$index"
        class="md:w-full"
      />
    }
  </div>
</div>
