.agridata-button {
  border: 1px solid;
  border-radius: 0.375rem; /* ~6px */
  padding: 0.5rem 1rem; /* ~8px top/bottom, ~16px left/right */
}

.agridata-button.agridata-button-primary {
  color: white;
  border-color: var(--color-agridata-primary-600);
  background-color: var(--color-agridata-primary-600);
}

.agridata-button.agridata-button-primary:hover {
  background-color: var(--color-agridata-primary-400);
  border-color: var(--color-agridata-primary-400);
}

.agridata-button.agridata-button-primary-accept {
  color: white;
  border-color: var(--color-green-600);
  background-color: var(--color-green-600);
}

.agridata-button.agridata-button-primary-accept:hover {
  background-color: var(--color-green-500);
  border-color: var(--color-green-500);
}

.agridata-button.agridata-button-primary-accept:disabled {
  background-color: var(--color-green-200);
  border-color: var(--color-green-200);
  cursor: not-allowed;
}

.agridata-button.agridata-button-secondary {
  color: var(--color-agridata-primary-600);
  border-color: var(--color-agridata-primary-600);
  background-color: transparent;
}

.agridata-button.agridata-button-secondary:hover {
  border-color: var(--color-agridata-primary-400);
  color: var(--color-agridata-primary-400);
}

.agridata-button.agridata-button-secondary:disabled {
  border-color: var(--color-agridata-primary-300);
  color: var(--color-agridata-primary-300);
  cursor: not-allowed;
}

.agridata-button.agridata-button-secondary-reject {
  border-color: var(--color-red-600);
  color: var(--color-red-600);
}

.agridata-button.agridata-button-secondary-reject:hover {
  border-color: var(--color-red-400);
  color: var(--color-red-400);
}

.agridata-button.agridata-button-secondary-reject:disabled {
  border-color: var(--color-red-300);
  color: var(--color-red-300);
  cursor: not-allowed;
}

.agridata-button.agridata-button-icon {
  color: var(--color-agridata-primary-600);
  border-color: var(--color-agridata-primary-600);
  background-color: transparent;
}

.agridata-button.agridata-button-icon:hover {
  background-color: var(--color-blue-50);
  border-color: var(--color-blue-50);
}

.agridata-button.agridata-button-link {
  border: 0;
  color: var(--color-agridata-primary-600);
  font-weight: 600;
}

.agridata-button.agridata-button-link:hover {
  text-decoration: underline;
}

.agridata-button.agridata-button-filter {
  font-size: var(--text-sm);
  border-radius: var(--radius-4xl);
  background-color: white;
}

.agridata-button.agridata-button-filter.selected {
  background-color: var(--color-gray-200);
  border-color: var(--color-gray-800);
  color: var(--color-gray-800);
}
