<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<ng-template #iconContent>
  @if (loading()) {
    <fa-icon animation="spin" [icon]="faSpinnerThird" class="loading-spinner"></fa-icon>
  } @else if (icon()) {
    <fa-icon [icon]="icon()!"></fa-icon>
  }
</ng-template>

@if (!href()) {
  <div class="contents" [title]="disabled() ? disabledInfo() : ''">
    <button
      [type]="type()"
      [disabled]="disabled()"
      [tabindex]="tabindex()"
      [attr.aria-label]="ariaLabel()"
      [attr.data-testid]="dataTestId()"
      (click)="onButtonClick($event)"
      (keydown.enter)="onButtonClick($event)"
      [class]="`relative agridata-button agridata-button-${variant()} ${selected() ? 'selected' : ''} ${additionalClass()}`"
    >
      @if (isIconLink()) {
        <span class="flex items-center gap-2">
          @if (iconPosition() === IconPosition.Left) {
            <ng-container [ngTemplateOutlet]="iconContent"></ng-container>
          }
          <ng-container [ngTemplateOutlet]="content"></ng-container>
          @if (iconPosition() === IconPosition.Right) {
            <ng-container [ngTemplateOutlet]="iconContent"></ng-container>
          }
        </span>
      } @else {
        @if (loading()) {
          <fa-icon
            animation="spin"
            [icon]="faSpinnerThird"
            class="absolute flex items-center justify-center inset-0"
          ></fa-icon>
        }
        <span [class.invisible]="loading()">
          <ng-container [ngTemplateOutlet]="content"></ng-container>
        </span>
      }
    </button>
  </div>
} @else {
  <a
    [href]="href()"
    [target]="target()"
    [tabindex]="tabindex()"
    [attr.data-testid]="dataTestId()"
    [rel]="'noopener noreferrer'"
    [class]="`agridata-button agridata-button-${variant()} ${selected() ? 'selected' : ''} ${additionalClass()}`"
  >
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </a>
}
