<ng-template #content>
  <ng-content></ng-content>
</ng-template>

<ng-template #iconContent>
  @if (loading()) {
    <fa-icon animation="spin" [icon]="faSpinnerThird" class="loading-spinner"></fa-icon>
  } @else if (icon()) {
    <fa-icon [icon]="icon()!"></fa-icon>
  }
</ng-template>

@if (!href()) {
  <button
    [type]="type()"
    [attr.aria-disabled]="isDisabled() ? 'true' : null"
    [tabindex]="isDisabled() ? -1 : tabindex()"
    [attr.aria-label]="ariaLabel()"
    [attr.data-testid]="dataTestId()"
    [appTooltip]="tooltipText()"
    (click)="onButtonClick($event)"
    (keydown.enter)="onButtonClick($event)"
    [class]="`relative agridata-button agridata-button-${variant()} ${selected() ? 'selected' : ''} ${additionalClass()}`"
    [class.success]="showSuccess()"
  >
    @if (isIconLink()) {
      <span class="flex items-center gap-2">
        @if (iconPosition() === IconPosition.Left) {
          <ng-container [ngTemplateOutlet]="iconContent"></ng-container>
        }
        <ng-container [ngTemplateOutlet]="content"></ng-container>
        @if (iconPosition() === IconPosition.Right) {
          <ng-container [ngTemplateOutlet]="iconContent"></ng-container>
        }
      </span>
    } @else {
      @if (loading()) {
        <fa-icon
          animation="spin"
          [icon]="faSpinnerThird"
          class="absolute flex items-center justify-center inset-0"
        ></fa-icon>
      } @else if (showSuccess()) {
        <svg class="success-check absolute inset-0 m-auto" viewBox="0 0 24 24" aria-hidden="true">
          <path d="M5 13l4 4L19 7" />
        </svg>
      }
      <span [class.invisible]="loading() || showSuccess()">
        <ng-container [ngTemplateOutlet]="content"></ng-container>
      </span>
    }
  </button>
} @else {
  <a
    [href]="href()"
    [target]="target()"
    [tabindex]="tabindex()"
    [attr.data-testid]="dataTestId()"
    [rel]="'noopener noreferrer'"
    [appTooltip]="tooltipText()"
    [class]="`agridata-button agridata-button-${variant()} ${selected() ? 'selected' : ''} ${additionalClass()}`"
  >
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </a>
}
