.agridata-button {
  border: 1px solid;
  border-radius: 0.375rem; /* ~6px */
  padding: 0.875rem 1.75rem; /* ~13px top/bottom, ~28px left/right */
  cursor: pointer;
  outline-width: 4px;
  font-weight: 600;
}

.agridata-button:disabled {
  pointer-events: filled;
  cursor: not-allowed;
}

.agridata-button.agridata-button-primary {
  color: white;
  border-color: var(--color-agridata-primary-600);
  background-color: var(--color-agridata-primary-600);
}

.agridata-button.agridata-button-primary:hover {
  background-color: var(--color-agridata-primary-400);
  border-color: var(--color-agridata-primary-400);
}

.agridata-button.agridata-button-primary:disabled {
  background-color: var(--color-gray-200);
  border-color: var(--color-gray-200);
  cursor: not-allowed;
}

.agridata-button.agridata-button-primary-accept {
  color: white;
  border-color: var(--color-green-600);
  background-color: var(--color-green-600);
  outline-color: var(--color-green-300);
}

.agridata-button.agridata-button-primary-accept:hover {
  background-color: var(--color-green-700);
  border-color: var(--color-green-700);
}

.agridata-button.agridata-button-primary-accept:focus {
  background-color: var(--color-green-700);
  border-color: var(--color-green-700);
  outline-style: solid;
}

.agridata-button.agridata-button-primary-accept:disabled {
  background-color: var(--color-gray-200);
  border-color: var(--color-gray-200);
  cursor: not-allowed;
}

.agridata-button.agridata-button-primary-cms {
  color: var(--color-agridata-primary-600);
  border-color: var(--color-white);
  background-color: var(--color-white);
}

.agridata-button.agridata-button-primary-cms:hover {
  background-color: var(--color-agridata-primary-50);
  border-color: var(--color-gray-200);
}

.agridata-button.agridata-button-primary-cms:disabled {
  background-color: var(--color-gray-200);
  border-color: var(--color-gray-200);
  cursor: not-allowed;
}

.agridata-button.agridata-button-secondary {
  color: var(--color-agridata-primary-600);
  border-color: var(--color-agridata-primary-600);
  background-color: transparent;
}

.agridata-button.agridata-button-secondary:hover {
  border-color: var(--color-agridata-primary-400);
  color: var(--color-agridata-primary-400);
}

.agridata-button.agridata-button-secondary:disabled {
  border-color: var(--color-agridata-primary-300);
  color: var(--color-agridata-primary-300);
  cursor: not-allowed;
}

.agridata-button.agridata-button-secondary-reject {
  border-color: var(--color-red-600);
  color: var(--color-red-600);
  outline-color: var(--color-red-200);
}

.agridata-button.agridata-button-secondary-reject:hover {
  border-color: var(--color-red-400);
  background-color: var(--color-red-50);
  color: var(--color-red-400);
}

.agridata-button.agridata-button-secondary-reject:focus {
  background-color: var(--color-red-50);
  outline-style: solid;
}

.agridata-button.agridata-button-secondary-reject:disabled {
  border-color: var(--color-gray-200);
  color: var(--color-gray-200);
  background-color: transparent;
  cursor: not-allowed;
}

.agridata-button.agridata-button-secondary-cms {
  border-color: var(--color-white);
  color: var(--color-white);
}

.agridata-button.agridata-button-secondary-cms:hover {
  color: var(--color-agridata-primary-text);
  background-color: var(--color-agridata-primary-50);
}

.agridata-button.agridata-button-secondary-cms:disabled {
  border-color: var(--color-gray-200);
  color: var(--color-gray-200);
  cursor: not-allowed;
}

.agridata-button.agridata-button-tertiary {
  color: var(--color-agridata-primary-600);
  border-color: transparent;
  background-color: transparent;
}

.agridata-button.agridata-button-tertiary:hover {
  color: var(--color-agridata-primary-600);
  background-color: var(--color-agridata-primary-50);
}

.agridata-button.agridata-button-tertiary:disabled {
  color: var(--color-agridata-primary-300);
  background-color: transparent;
  cursor: not-allowed;
}

.agridata-button.agridata-button-icon,
.agridata-button.agridata-button-icon-outline {
  color: var(--color-agridata-primary-600);
  background-color: transparent;
  border: 1px solid;
  border-radius: 0.375rem; /* ~6px */
  padding: 4px;
}

.agridata-button.agridata-button-icon {
  border-color: transparent;
  width: 41px;
  height: 41px;
}

.agridata-button.agridata-button-icon:hover,
.agridata-button.agridata-button-icon-outline:hover {
  background-color: var(--color-blue-100);
  border-color: var(--color-blue-100);
}

.agridata-button.agridata-button-icon:focus,
.agridata-button.agridata-button-icon-outline:focus {
  background-color: var(--color-blue-100);
  border-color: var(--color-blue-100);
}

.agridata-button.agridata-button-icon:disabled,
.agridata-button.agridata-button-icon-outline:disabled {
  background-color: transparent;
  border-color: transparent;
  cursor: not-allowed;
  color: var(--color-agridata-primary-200);
}

.agridata-button.agridata-button-icon-outline {
  border-color: var(--color-agridata-primary-600);
}

.agridata-button.agridata-button-link {
  border: 0;
  color: var(--color-agridata-primary-600);
  padding: 0;
}

.agridata-button.agridata-button-link:hover {
  text-decoration: underline;
}

.agridata-button.agridata-button-filter {
  font-size: var(--text-sm);
  border-radius: var(--radius-4xl);
  border-color: var(--color-agridata-primary-600);
  color: var(--color-agridata-primary-600);
  background-color: white;
  padding: 0.5rem 1rem;
  outline-color: var(--color-agridata-primary-200);
}

.agridata-button.agridata-button-filter:focus {
  outline-style: solid;
}

.agridata-button.agridata-button-filter:hover {
  background-color: var(--color-agridata-primary-50);
}

.agridata-button.agridata-button-filter.selected {
  background-color: var(--color-gray-200);
  border-color: var(--color-agridata-primary-text);
  color: var(--color-agridata-primary-text);
}
