<div
  class="flex flex-col transition-all duration-300 ease-in-out"
  [class.gap-2]="!isViewMode()"
  [class.gap-1]="isViewMode()"
>
  <label
    [for]="id()"
    class="font-medium leading-[130%] transition-all duration-300 ease-in-out"
    [class.text-red-500]="hasError()"
    [class.text-agridata-secondary-text]="isViewMode()"
    [class.text-xs]="isViewMode()"
  >
    {{ label() }}
  </label>
  @if (controlType() === ControlTypes.INPUT) {
    <app-agridata-input
      [control]="control()"
      [id]="id()!"
      [type]="type()"
      [placeholder]="placeholder()"
      (handleBlur)="handleBlur.emit()"
      [maxCharacters]="getMaxCharacters()"
      [hasError]="hasError()"
      [inputPrefix]="inputPrefix()"
      [disabled]="disabled()"
      [isViewMode]="isViewMode()"
    />
  }
  @if (controlType() === ControlTypes.SELECT) {
    <app-agridata-select
      [control]="control()"
      [options]="options()"
      [placeholder]="placeholder()"
      [hasError]="hasError()"
      [disabled]="disabled()"
      [isViewMode]="isViewMode()"
    />
  }
  @if (controlType() === ControlTypes.MULTI_SELECT) {
    <app-agridata-multi-select
      [categories]="categories()"
      [control]="control()"
      [disabled]="disabled()"
      [hasError]="hasError()"
      [options]="options()"
      [placeholder]="placeholder()"
      [singleCategorySelection]="singleCategorySelection()"
      [isViewMode]="isViewMode()"
    />
  }
  @if (controlType() === ControlTypes.TEXT_AREA) {
    <app-agridata-textarea
      [control]="control()"
      [id]="id()!"
      [placeholder]="placeholder()"
      (handleBlur)="handleBlur.emit()"
      [maxCharacters]="getMaxCharacters()"
      [hasError]="hasError()"
      [disabled]="disabled()"
      [isViewMode]="isViewMode()"
    />
  }
  @if (controlType() === ControlTypes.DIGIT_INPUT) {
    <app-agridata-digit-input
      [control]="control()!"
      [length]="length()"
      [isViewMode]="isViewMode()"
    />
  }
  @if (!isViewMode()) {
    <span class="min-h-[1.5em] block text-gray-700" [class.text-red-500]="hasError()">
      @if (hasError()) {
        <span class="text-sm">{{ errorMessage() }}</span>
      } @else if (helperText()) {
        <span class="text-sm">{{ helperText() }}</span>
      }
    </span>
  }
</div>
