<div
  class="fixed bottom-0 w-full flex flex-col bg-slate-200 shadow-[0_-8px_20px_rgba(0,0,0,0.15)] items-center gap-4 p-4 md:p-6 justify-between z-10"
  *i18n="let t; prefix: 'cookiebanner'"
>
  <span class="text-center">
    {{ t('bannerText') }}
    <a routerLink="/{{ ROUTE_PATHS.PRIVACY_POLICY_PATH }}" class="underline">
      {{ t('privacyPolicyLinkText') }}
    </a>
  </span>
  <div class="flex flex-col md:flex-row gap-6">
    <app-agridata-button
      (onClick)="acceptCookies()"
      (keydown.enter)="acceptCookies()"
      [variant]="ButtonVariants.Primary"
    >
      <span>{{ t('acceptCookies') }}</span>
    </app-agridata-button>
    <app-agridata-button
      (onClick)="declineCookies()"
      (keydown.enter)="declineCookies()"
      [variant]="ButtonVariants.Link"
    >
      <span>{{ t('declineCookies') }}</span>
    </app-agridata-button>
  </div>
</div>
