@if (form()) {
  <div class="flex flex-col gap-10" *i18n="let t; prefix: 'data-request.form'">
    <div>
      <div class="mb-6">
        <h4 class="text-agridata-primary-text mb-2">{{ t('request.title.label') }}</h4>
        <span class="text-agridata-tertiary-text">{{ t('request.title.sublabel') }}</span>
      </div>
      @for (lang of availableLangs; track lang) {
        <app-form-control
          [control]="getFormControl(`request.title.${lang}`)"
          [id]="`request-title-${lang}`"
          [label]="t(`request.title.${lang}.label`)"
          [placeholder]="t(`request.title.${lang}.placeholder`)"
          [disabled]="formDisabled()"
        />
      }
    </div>
    <div>
      <div class="mb-6">
        <h4 class="text-agridata-primary-text mb-2">{{ t('request.description.label') }}</h4>
        <span class="text-agridata-tertiary-text">{{ t('request.description.sublabel') }}</span>
      </div>
      @for (lang of availableLangs; track lang) {
        <app-form-control
          [control]="getFormControl(`request.description.${lang}`)"
          [id]="`request-description-${lang}`"
          [label]="t(`request.description.${lang}.label`)"
          [placeholder]="t(`request.description.${lang}.placeholder`)"
          [controlType]="ControlTypes.TEXT_AREA"
          [disabled]="formDisabled()"
        />
      }
    </div>
    <div class="mb-6">
      <div class="mb-6">
        <h4 class="text-agridata-primary-text mb-2">{{ t('request.purpose.label') }}</h4>
        <span class="text-agridata-tertiary-text">
          {{ purposeSublabelParts().before }}
          <a [href]="pdfUrl()" target="_blank" class="underline hover:text-agridata-primary-600">
            {{ purposeSublabelParts().linkText }}
          </a>
          {{ purposeSublabelParts().after }}
        </span>
      </div>
      @for (lang of availableLangs; track lang) {
        <app-form-control
          [control]="getFormControl(`request.purpose.${lang}`)"
          [id]="`request-purpose-${lang}`"
          [label]="t(`request.purpose.${lang}.label`)"
          [placeholder]="t(`request.purpose.${lang}.placeholder`)"
          [controlType]="ControlTypes.TEXT_AREA"
          [disabled]="formDisabled()"
          isWysiwyg
        />
      }
    </div>
  </div>
}
