@if (form()) {
  <div class="flex flex-col gap-10" *i18n="let t; prefix: 'data-request.form'">
    <div>
      <div class="mb-6">
        <h4 class="text-agridata-primary-text mb-2">{{ t('request.title.label') }}</h4>
        <span class="text-agridata-tertiary-text">{{ t('request.title.sublabel') }}</span>
      </div>
      <app-form-control
        [control]="getFormControl(this.form()!, 'request.title.de')"
        id="requestTitleDe"
        [label]="t('request.title.de.label')"
        [placeholder]="t('request.title.de.placeholder')"
        [disabled]="formDisabled()"
      />
      <app-form-control
        [control]="getFormControl(this.form()!, 'request.title.fr')"
        id="requestTitleFr"
        [label]="t('request.title.fr.label')"
        [placeholder]="t('request.title.fr.placeholder')"
        [disabled]="formDisabled()"
      />
      <app-form-control
        [control]="getFormControl(this.form()!, 'request.title.it')"
        id="requestTitleIt"
        [label]="t('request.title.it.label')"
        [placeholder]="t('request.title.it.placeholder')"
        [disabled]="formDisabled()"
      />
    </div>
    <div>
      <div class="mb-6">
        <h4 class="text-agridata-primary-text mb-2">{{ t('request.description.label') }}</h4>
        <span class="text-agridata-tertiary-text">{{ t('request.description.sublabel') }}</span>
      </div>
      <app-form-control
        [control]="getFormControl(this.form()!, 'request.description.de')"
        id="requestDescriptionDe"
        [label]="t('request.description.de.label')"
        [placeholder]="t('request.description.de.placeholder')"
        [controlType]="ControlTypes.TEXT_AREA"
        [disabled]="formDisabled()"
      />
      <app-form-control
        [control]="getFormControl(this.form()!, 'request.description.fr')"
        id="requestDescriptionFr"
        [label]="t('request.description.fr.label')"
        [placeholder]="t('request.description.fr.placeholder')"
        [controlType]="ControlTypes.TEXT_AREA"
        [disabled]="formDisabled()"
      />
      <app-form-control
        [control]="getFormControl(this.form()!, 'request.description.it')"
        id="requestDescriptionIt"
        [label]="t('request.description.it.label')"
        [placeholder]="t('request.description.it.placeholder')"
        [controlType]="ControlTypes.TEXT_AREA"
        [disabled]="formDisabled()"
      />
    </div>
    <div class="mb-6">
      <div class="mb-6">
        <h4 class="text-agridata-primary-text mb-2">{{ t('request.purpose.label') }}</h4>
        <span class="text-agridata-tertiary-text">
          {{ purposeSublabelParts().before }}
          <a [href]="pdfUrl()" target="_blank" class="underline hover:text-agridata-primary-600">
            {{ purposeSublabelParts().linkText }}
          </a>
          {{ purposeSublabelParts().after }}
        </span>
      </div>
      <app-form-control
        [control]="getFormControl(this.form()!, 'request.purpose.de')"
        id="requestPurposeDe"
        [label]="t('request.purpose.de.label')"
        [placeholder]="t('request.purpose.de.placeholder')"
        [controlType]="ControlTypes.TEXT_AREA"
        [disabled]="formDisabled()"
      />
      <app-form-control
        [control]="getFormControl(this.form()!, 'request.purpose.fr')"
        id="requestPurposeFr"
        [label]="t('request.purpose.fr.label')"
        [placeholder]="t('request.purpose.fr.placeholder')"
        [controlType]="ControlTypes.TEXT_AREA"
        [disabled]="formDisabled()"
      />
      <app-form-control
        [control]="getFormControl(this.form()!, 'request.purpose.it')"
        id="requestPurposeIt"
        [label]="t('request.purpose.it.label')"
        [placeholder]="t('request.purpose.it.placeholder')"
        [controlType]="ControlTypes.TEXT_AREA"
        [disabled]="formDisabled()"
      />
    </div>
  </div>
}
