<div class="flex flex-row gap-4 justify-end" [class.is-hovered]="isRowHovered()">
  @for (action of sortedActions(); track action.label) {
    <app-agridata-button
      click-stop-propagation
      [variant]="action.isMainAction ? ButtonVariants.PrimaryAccept : ButtonVariants.Secondary"
      (onClick)="handleActionClick(action)"
    >
      {{ action.label | i18n }}
    </app-agridata-button>
  }
  <app-agridata-button
    click-stop-propagation
    [variant]="ButtonVariants.Icon"
    (onClick)="handleRowAction()"
    class="action-button"
  >
    <fa-icon size="xl" [icon]="iconRowAction" />
  </app-agridata-button>
</div>
