<div class="flex flex-row gap-4 justify-end" (appClickOutside)="handleClickOutside()">
  @if (mainAction()) {
    <app-agridata-button
      click-stop-propagation
      [variant]="ButtonVariants.PrimaryAccept"
      (onClick)="handleClick(mainAction()!)"
    >
      {{ mainAction()?.label | i18n }}
    </app-agridata-button>
  }
  <app-agridata-button
    click-stop-propagation
    [variant]="ButtonVariants.Icon"
    (onClick)="handleToggle()"
  >
    <fa-icon [icon]="iconEllipsis" />
  </app-agridata-button>
  @if (isOpen()) {
    <div class="absolute z-10 bg-white border border-gray-200 rounded-lg shadow-lg overflow-hidden">
      <ul>
        @for (action of actions(); track action.label) {
          <li
            click-stop-propagation
            class="px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer"
            (click)="handleClick(action)"
            (keydown.enter)="handleClick(action)"
          >
            @if (action.icon) {
              <fa-icon [icon]="action.icon" class="mr-2" />
            }
            {{ action.label | i18n }}
          </li>
        }
      </ul>
    </div>
  }
</div>
