<label
  class="flex items-center justify-between px-3 py-2 hover:bg-gray-100 cursor-pointer"
  [class.cursor-pointer]="!disabled()"
  [class.cursor-not-allowed]="disabled()"
  [class.hover:bg-white]="disabled()"
>
  <div class="flex items-center gap-2">
    <input
      type="checkbox"
      [checked]="isSelected(option().value)"
      (change)="selectOption.emit({ value: option().value, event: $event })"
      class="h-4 w-4"
      [disabled]="disabled()"
    />
    <span>{{ option().label }}</span>
  </div>

  @if (option().paymentRequired) {
    <app-agridata-badge
      [icon]="paymentRequiredIcon"
      [text]="paymentRequiredLabel()"
      [size]="BadgeSize.SM"
    />
  }
</label>
