.consent-filter-button {
  font-size: var(--text-sm);
  border-radius: var(--radius-4xl);
  background-color: white;
}

.consent-filter-button.selected {
  background-color: var(--color-gray-200);
  border-color: var(--color-gray-800);
  color: var(--color-gray-800);
}
