<div
  class="flex flex-col gap-2 px-4 py-4 rounded-lg bg-sky-100"
  *i18n="let t; prefix: 'data-request.purpose'; lang: currentLanguage()"
  id="data-request-purpose-accordion"
>
  <h4>
    {{ t('title') }}
  </h4>
  <div class="flex flex-col">
    <span class="text-agridata-primary-text font-normal whitespace-pre-line">
      {{ purpose() }}
    </span>
  </div>
  <app-agridata-accordion [header]="t('description')">
    <div class="flex flex-col gap-3">
      @for (product of productsList(); track product.id) {
        <div class="flex flex-col gap-1">
          <span class="text-agridata-tertiary-text font-medium">
            {{ getFieldFromLang(product, 'name') }}
          </span>
          <span>{{ getFieldFromLang(product, 'description') }}</span>
        </div>
      }
      <a
        [href]="productDataLink"
        target="_blank"
        class="text-agridata-primary-600 hover:underline cursor-pointer"
      >
        {{ t('moreInfos') }}
      </a>
    </div>
  </app-agridata-accordion>
</div>
