<ng-template #messageContent>
  <span>{{ message() }}</span>
  @if (additionalInfo()) {
    <span class="text-sm">{{ additionalInfo() }}</span>
  }
</ng-template>

<div
  class="flex items-center gap-2 py-4 px-6 rounded-lg"
  [class.bg-gray-100]="type() === AlertType.NEUTRAL"
  [class.text-gray-600]="type() === AlertType.NEUTRAL"
  [class.bg-orange-100]="type() === AlertType.WARNING"
  [class.text-orange-700]="type() === AlertType.WARNING"
  [class.bg-red-100]="type() === AlertType.ERROR"
  [class.text-red-700]="type() === AlertType.ERROR"
  [class.bg-green-100]="type() === AlertType.SUCCESS"
  [class.text-green-700]="type() === AlertType.SUCCESS"
  [class.bg-sky-100]="type() === AlertType.INFO"
  [class.text-sky-700]="type() === AlertType.INFO"
>
  <!-- desktop icon -->
  <fa-icon class="hidden lg:block shrink-0" size="xl" [icon]="alertIcon()"></fa-icon>
  <!-- content -->
  <div class="flex flex-col flex-1 min-w-0 whitespace-pre-line">
    <div class="flex items-center gap-2">
      <!-- mobile icon -->
      <fa-icon class="shrink-0 lg:hidden" size="xl" [icon]="alertIcon()"></fa-icon>
      @if (title()) {
        <span class="font-bold">{{ title() }}</span>
      } @else {
        <div class="flex flex-col gap-2">
          <ng-container [ngTemplateOutlet]="messageContent" />
        </div>
      }
    </div>
    @if (title()) {
      <div class="flex flex-col mt-4 lg:mt-1 gap-2">
        <ng-container [ngTemplateOutlet]="messageContent" />
      </div>
    }
  </div>
  <!-- close button -->
  @if (showCloseButton()) {
    <app-agridata-button
      ariaLabel="common.ariaLabel.close"
      [variant]="ButtonVariants.Icon"
      [dataTestId]="dataTestId() ? dataTestId() + '-close' : undefined"
      (handleClick)="closeAlert.emit(true)"
      additionalClass="self-start"
    >
      <fa-icon size="xl" [icon]="closeIcon"></fa-icon>
    </app-agridata-button>
  }
</div>
