<app-agridata-client-table
  [rawData]="dataRequests()"
  [loading]="dataRequestsResource().isLoading()"
  [tableMetadata]="dataRequestsTableMetaData()"
>
  <ng-template #dataRequestConsumer [appDataRequestDtoGuard] let-item>
    <div class="flex items-center gap-2">
      <app-agridata-contact-card
        [imageUrl]="item.dataConsumerLogoBase64"
        [name]="item.dataConsumerDisplayName"
        [secondaryName]="item.dataConsumerCity"
        [size]="AvatarSize.SMALL"
        [skin]="AvatarSkin.LIGHT"
      />
    </div>
  </ng-template>
  <ng-template #dataRequestTitle [appDataRequestDtoGuard] let-item>
    <span
      class="text-agridata-primary-600 agridata-ellipsis"
      [title]="this.i18nService.useObjectTranslation(item?.title)"
    >
      {{ this.i18nService.useObjectTranslation(item?.title) }}
    </span>
  </ng-template>
  <ng-template #dataRequestState [appDataRequestDtoGuard] let-item>
    <app-agridata-badge
      [text]="getStatusTranslation(item?.stateCode)"
      [variant]="getBadgeVariant(item?.stateCode)"
      [size]="BadgeSize.SM"
    />
  </ng-template>
</app-agridata-client-table>
