@layer utilities {
  /* slide-in from the right */
  @keyframes toast-in {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  /* slide-out to the right */
  @keyframes toast-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(100%);
      opacity: 0;
    }
  }
  .animate-toast-in {
    animation: toast-in 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
  }

  .animate-toast-out {
    animation: toast-out 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
  }

  @keyframes popover-overshoot {
    0% {
      transform: scaleY(0.6) translateY(-30%);
      opacity: 0;
    }
    70% {
      transform: scaleY(1.12) translateY(5%);
      opacity: 1;
    }
    90% {
      transform: scaleY(0.95) translateY(-2%);
    }
    100% {
      transform: scaleY(1) translateY(0);
      opacity: 1;
    }
  }

  .popup-animate-in {
    animation: popover-overshoot 350ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
  }
}

.agridata-ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.avatar {
  @apply w-10 h-10 rounded-full flex items-center justify-center flex-shrink-0;
}
