<ng-container *i18n="let t; prefix: 'producer'">
  <h2 class="mb-12"><fa-icon [icon]="fileIcon" class="mr-3" />{{ t('pageTitle') }}</h2>
</ng-container>
@if (consentRequests.isLoading()){
<p>Loading...</p>
} @else {
<app-consent-request-table
  [consentRequests]="consentRequests.value()"
  (tableRowAction)="setSelectedRequest($event)"
  (onReloadConsentRequests)="reloadConsentRequests()"
/>
<app-consent-request-details
  [request]="selectedRequest()"
  (onCloseDetail)="setSelectedRequest()"
  (onReloadConsentRequests)="reloadConsentRequests()"
/>
}
