<ng-container *transloco="let t; prefix: 'consent-request-producer'">
  <h2 class="mb-12"><fa-icon [icon]="fileIcon" class="mr-3" />{{ t('pageTitle') }}</h2>
</ng-container>
<app-consent-request-table
  [consentRequests]="consentRequestResult.value()"
  (tableRowAction)="showConsentRequestDetails($event)"
  (onReloadConsentRequests)="reloadConsentRequests()"
/>
<app-consent-request-details
  [request]="selectedRequest()"
  (onCloseDetail)="showConsentRequestDetails()"
  (onReloadConsentRequests)="reloadConsentRequests()"
/>
