<ng-container *i18n="let t; prefix: 'data-products.detailForm'">
  <div class="flex flex-col gap-4">
    <h3>{{ t('technicalFields') }}</h3>
    <div appViewSection [isViewMode]="isViewMode()">
      @if (isAdmin() && !isViewMode()) {
        <div class="flex flex-col">
          <span
            class="mb-2 font-medium leading-[130%]"
            [class.text-red-500]="providerSelectHasError"
          >
            {{ t('provider.label') }}
          </span>
          <app-agridata-select
            [options]="providerOptions()"
            [selectedOption]="selectedProviderId()"
            [placeholder]="t('provider.placeholder')"
            [hasError]="providerSelectHasError"
            (selectedOptionChange)="onProviderChange($event)"
          />
          <span
            class="min-h-[1.5em] block text-gray-700"
            [class.text-red-500]="providerSelectHasError"
          >
            @if (providerSelectHasError) {
              <span class="text-sm">{{ providerSelectErrorMessage }}</span>
            }
          </span>
        </div>
      }
      <div
        class="flex flex-col lg:flex-row gap-6 transition-all duration-300 ease-in-out"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
      >
        <app-form-control
          [control]="getFormControl('dataSourceSystemId')"
          [controlType]="ControlTypes.SELECT"
          [options]="dataSourceOptions()"
          [label]="t('dataSourceSystem.label')"
          [placeholder]="t('dataSourceSystem.placeholder')"
          [disabled]="!selectedProviderId()"
          [isViewMode]="isViewMode()"
          class="lg:w-1/2"
          id="dataSourceSystemId"
        />
        <app-form-control
          [control]="getFormControl('restClientId')"
          [controlType]="ControlTypes.SELECT"
          [options]="restClientOptions()"
          [label]="t('restClientIdentifier.label')"
          [placeholder]="t('restClientIdentifier.placeholder')"
          [disabled]="!selectedProviderId()"
          [isViewMode]="isViewMode()"
          class="lg:w-1/2"
          id="restClientId"
        />
      </div>

      <app-form-control
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
        [control]="getFormControl('restClientMethodCode')"
        [controlType]="ControlTypes.SELECT"
        [options]="methodCodeOptions"
        [label]="t('restClientMethod.label')"
        [placeholder]="t('restClientMethod.placeholder')"
        [isViewMode]="isViewMode()"
        id="restClientMethodCode"
      />
    </div>
    <div appViewSection [isViewMode]="isViewMode()">
      <app-form-control
        [control]="getFormControl('flowCode')"
        [controlType]="ControlTypes.SELECT"
        [options]="flowCodeOptions"
        [label]="t('flowCode.label')"
        [placeholder]="t('flowCode.placeholder')"
        [isViewMode]="isViewMode()"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
        id="flowCode"
      />

      <app-form-control
        [control]="getFormControl('restClientPathTemplate')"
        [controlType]="ControlTypes.TEXT_AREA"
        [label]="t('restClientPathTemplate.label')"
        [placeholder]="t('restClientPathTemplate.placeholder')"
        [isViewMode]="isViewMode()"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
        id="restClientPathTemplate"
      />

      <app-form-control
        [control]="getFormControl('restClientRequestTemplate')"
        [controlType]="ControlTypes.TEXT_AREA"
        [label]="t('restClientRequestTemplate.label')"
        [placeholder]="t('restClientRequestTemplate.placeholder')"
        [isViewMode]="isViewMode()"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
        id="restClientRequestTemplate"
      />

      <app-form-control
        [control]="getFormControl('restClientChangeDetectionPathTemplate')"
        [controlType]="ControlTypes.TEXT_AREA"
        [label]="t('restClientChangeDetectionPathTemplate.label')"
        [placeholder]="t('restClientChangeDetectionPathTemplate.placeholder')"
        [isViewMode]="isViewMode()"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
        id="restClientChangeDetectionPathTemplate"
      />
    </div>
  </div>
</ng-container>
