<ng-container *i18n="let t; prefix: 'data-products.detailForm'">
  <div class="flex flex-col gap-4">
    <h3>{{ t('technicalFields') }}</h3>
    <div appViewSection [isViewMode]="isViewMode()">
      @if (dataSourceSystemDisabled()) {
        <app-alert class="mb-4" [type]="AlertType.INFO">
          <app-linked-text [parts]="dataSourceSystemDisabledMessageParts()" />
        </app-alert>
      }
      <div
        class="flex flex-col lg:flex-row gap-6 transition-all duration-300 ease-in-out"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
      >
        @if (isAdmin()) {
          <app-form-control
            [control]="providerControl()"
            [controlType]="ControlTypes.SELECT"
            [options]="providerOptions()"
            [label]="t('provider.label')"
            [placeholder]="t('provider.placeholder')"
            [disabled]="isEditMode()"
            [isViewMode]="isViewMode()"
            class="lg:flex-1"
            id="providerId"
          />
        }

        <app-form-control
          [control]="getFormControl('dataSourceSystemId')"
          [controlType]="ControlTypes.SELECT"
          [options]="dataSourceOptions()"
          [label]="t('dataSourceSystem.label')"
          [placeholder]="t('dataSourceSystem.placeholder')"
          [disabled]="!selectedProviderId()"
          [isViewMode]="isViewMode()"
          [class]="isAdmin() ? 'lg:flex-1' : 'lg:w-full'"
          id="dataSourceSystemId"
        />
      </div>

      <div
        class="flex flex-col lg:flex-row gap-6 transition-all duration-300 ease-in-out"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
      >
        <app-form-control
          [control]="getFormControl('restClientId')"
          [controlType]="ControlTypes.SELECT"
          [options]="restClientOptions()"
          [label]="t('restClientIdentifier.label')"
          [placeholder]="t('restClientIdentifier.placeholder')"
          [disabled]="!selectedProviderId()"
          [isViewMode]="isViewMode()"
          class="lg:w-1/2"
          id="restClientId"
        />

        <app-form-control
          [control]="getFormControl('restClientMethodCode')"
          [controlType]="ControlTypes.SELECT"
          [options]="methodCodeOptions"
          [label]="t('restClientMethod.label')"
          [placeholder]="t('restClientMethod.placeholder')"
          [isViewMode]="isViewMode()"
          id="restClientMethodCode"
          class="lg:w-1/2"
        />
      </div>
    </div>
    <div appViewSection [isViewMode]="isViewMode()">
      <app-form-control
        [control]="getFormControl('flowCode')"
        [controlType]="ControlTypes.SELECT"
        [options]="flowCodeOptions"
        [label]="t('flowCode.label')"
        [placeholder]="t('flowCode.placeholder')"
        [isViewMode]="isViewMode()"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
        id="flowCode"
      />

      <app-form-control
        [control]="getFormControl('restClientPathTemplate')"
        [controlType]="ControlTypes.TEXT_AREA"
        [label]="t('restClientPathTemplate.label')"
        [placeholder]="t('restClientPathTemplate.placeholder')"
        [isViewMode]="isViewMode()"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
        id="restClientPathTemplate"
      />

      <app-form-control
        [control]="getFormControl('restClientRequestTemplate')"
        [controlType]="ControlTypes.TEXT_AREA"
        [label]="t('restClientRequestTemplate.label')"
        [placeholder]="t('restClientRequestTemplate.placeholder')"
        [isViewMode]="isViewMode()"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
        id="restClientRequestTemplate"
      />

      <app-form-control
        [control]="getFormControl('restClientChangeDetectionPathTemplate')"
        [controlType]="ControlTypes.TEXT_AREA"
        [label]="t('restClientChangeDetectionPathTemplate.label')"
        [placeholder]="t('restClientChangeDetectionPathTemplate.placeholder')"
        [isViewMode]="isViewMode()"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
        id="restClientChangeDetectionPathTemplate"
      />
    </div>
  </div>
</ng-container>
