<div class="mb-4 flex justify-start gap-4">
  @for (filter of filterOptions; track filter) {
    <button
      (click)="handleClick(filter.value)"
      (keydown.enter)="handleClick(filter.value)"
      class="agridata-button button-secondary consent-filter-button {{
        isSelected(filter.value) && 'selected'
      }}"
      tabindex="0"
    >
      <span>
        {{ filter.label }}
        @if (filter.value === 'OPENED') {
          <span
            class="text-agridata-secondary-text bg-agridata-content-gray size-3 rounded-full px-2"
          >
            {{ indicatorValue }}
          </span>
        }
      </span>
    </button>
  }
</div>
