<div
  class="flex flex-col gap-6 bg-agridata-content-gray p-6 rounded-lg"
  *i18n="let t; prefix: 'data-request.contact'"
>
  <div class="flex flex-col">
    <h4>{{ t('title') }}</h4>
    <span class="text-agridata-secondary-text">
      {{ t('description') }}
    </span>
  </div>
  <div class="flex gap-6">
    <div>
      <fa-icon [icon]="iconPhone" class="text-agridata-primary-600"></fa-icon>
      <span class="text-agridata-primary-600">
        {{ phoneNumber() }}
      </span>
    </div>
    <div>
      <fa-icon [icon]="iconEmail" class="text-agridata-primary-600"></fa-icon>
      <span class="text-agridata-primary-600">
        {{ email() }}
      </span>
    </div>
  </div>
</div>
