<app-card [title]="name()" [description]="description()" *i18n="let t; prefix: 'data-catalog'">
  <div cardTags class="flex gap-2">
    @if (providerName()) {
      <app-agridata-badge
        [text]="providerName()"
        [variant]="BadgeVariant.DARK"
        [size]="BadgeSize.SM"
      />
    }
    @if (sourceSystemName()) {
      <app-agridata-badge
        [text]="sourceSystemName()"
        [variant]="BadgeVariant.DARK"
        [size]="BadgeSize.SM"
      />
    }
  </div>
  <div cardLabels class="flex gap-2">
    @if (product().deprecatedSince) {
      <app-agridata-badge
        [text]="t('product.deprecated.text')"
        [variant]="BadgeVariant.WARNING"
        [size]="BadgeSize.SM"
        [appTooltip]="t('product.deprecated.tooltip')"
      />
    }
  </div>
  <div cardLabels class="flex gap-2">
    @if (!product().consentRequired) {
      <app-agridata-badge
        [icon]="publicSectorIcon"
        [text]="t('product.publicSector')"
        [variant]="BadgeVariant.DEFAULT"
        [size]="BadgeSize.SM"
      />
    }
    @if (product().paymentRequired) {
      <app-agridata-badge
        [icon]="chfCircleIcon"
        [text]="t('product.paymentRequired')"
        [variant]="BadgeVariant.LIGHT"
        [size]="BadgeSize.SM"
      />
    }
  </div>
  <div cardFooter class="flex justify-end">
    <app-agridata-button
      [variant]="ButtonVariants.Secondary"
      (handleClick)="handleShowDetails.emit(product().id)"
    >
      {{ t('product.showDetails') }}
    </app-agridata-button>
  </div>
</app-card>
