<div class="relative w-full min-w-0" (appClickOutside)="handleClickOutside()">
  <button
    type="button"
    class="w-full border border-gray-300 px-5 py-3 text-left flex justify-between items-center bg-white rounded-md"
    [class]="customClass()"
    [class.border-red-500]="hasError()"
    (click)="toggleDropdown()"
    [disabled]="disabled()"
  >
    @if (selectedOptions().length > 0) {
      <div class="flex flex-wrap gap-2 min-w-0 flex-1">
        @for (option of selectedOptions(); track option.value) {
          <span
            (click)="onOptionToggle(option.value, $event)"
            (keydown.enter)="onOptionToggle(option.value, $event)"
            class="rounded-sm text-xs px-2 py-1 group flex items-center gap-1 border"
            [class]="
              disabled()
                ? 'cursor-not-allowed bg-gray-200 border-gray-300 text-gray-600'
                : 'bg-agridata-primary-100 border-agridata-primary-700 text-agridata-primary-text hover:bg-agridata-primary-50 hover:border-agridata-primary-600'
            "
            [attr.aria-disabled]="disabled()"
          >
            @if (option.paymentRequired) {
              <fa-icon
                [icon]="paymentRequiredIcon"
                [class.text-gray-800]="!disabled()"
                [class.text-gray-600]="disabled()"
              />
            }
            <span>{{ option.label }}</span>
            <fa-icon
              [icon]="iconClose"
              [class.group-hover:text-agridata-primary-700]="!disabled()"
              [ariaDisabled]="!disabled()"
            />
          </span>
        }
      </div>
    } @else {
      <span class="block truncate flex-1 min-w-0">{{ placeholder() }}</span>
    }
    <fa-icon [icon]="dropdownIcon()" class="ml-2 text-gray-500 shrink-0" />
  </button>

  @if (isDropdownOpen()) {
    <div
      class="absolute z-10 mt-1 w-full bg-white border border-gray-300 rounded-md shadow-lg max-h-60 overflow-auto"
    >
      @if (enableSearch()) {
        <div class="sticky top-0 border-b border-gray-200 bg-white p-2 z-1">
          <app-search-input
            (handleInput)="onSearchInput($event)"
            [debounceTime]="0"
            [minSearchLength]="1"
          />
        </div>
      }
      @if (!hasFilteredResults()) {
        <div class="px-3 py-2 text-sm text-gray-500">
          {{ 'input.formControl.multiSelect.noResults' | i18n }}
        </div>
      } @else {
        @if (isGrouped()) {
          @for (category of categories(); track category.categoryLabel) {
            @if (getFilteredCategoryOptions(category).length > 0) {
              <div [class.opacity-50]="isCategoryDisabled(category)">
                <div class="text-sm py-2 px-3 text-agridata-tertiary-text">
                  {{ category.categoryLabel }}
                </div>
                <label
                  class="flex items-center px-3 py-2 hover:bg-gray-100"
                  [class.cursor-pointer]="!isCategoryDisabled(category)"
                  [class.cursor-not-allowed]="isCategoryDisabled(category)"
                  [class.hover:bg-white]="isCategoryDisabled(category)"
                >
                  <input
                    type="checkbox"
                    [checked]="isCategoryAllSelected(category)"
                    (change)="onSelectAllToggle(category, $event)"
                    class="h-4 w-4"
                    [disabled]="isCategoryDisabled(category)"
                  />
                  <span class="ml-2">{{ selectAllLabel() }}</span>
                </label>
                @for (option of getFilteredCategoryOptions(category); track option.value) {
                  <app-agridata-multi-select-option
                    [control]="control()!"
                    [option]="option"
                    (selectOption)="onOptionToggle(option.value, $event.event)"
                    [disabled]="isCategoryDisabled(category)"
                  />
                }
              </div>
            }
          }
        } @else {
          @for (option of filteredOptions(); track option.value) {
            <app-agridata-multi-select-option
              [control]="control()!"
              [option]="option"
              (selectOption)="onOptionToggle(option.value, $event.event)"
              [disabled]="disabled()"
            />
          }
        }
      }
    </div>
  }
</div>
