<app-modal
  [open]="open()"
  [title]="name()"
  [dataTestId]="'public-data-product-detail-modal'"
  (closed)="handleClose.emit()"
>
  <ng-container *i18n="let t; prefix: 'data-catalog'">
    @if (loading()) {
      <fa-icon
        animation="spin"
        [icon]="faSpinnerThird"
        size="3x"
        class="flex items-center justify-center py-10"
      />
    } @else if (product(); as product) {
      <div class="flex flex-col gap-8 text-left">
        <div class="flex flex-col sm:flex-row gap-8 sm:gap-2">
          <div class="flex flex-wrap gap-2">
            @if (providerName()) {
              <app-agridata-badge
                [text]="providerName()"
                [variant]="BadgeVariant.DARK"
                [size]="BadgeSize.SM"
              />
            }
            @if (sourceSystemName()) {
              <app-agridata-badge
                [text]="sourceSystemName()"
                [variant]="BadgeVariant.DARK"
                [size]="BadgeSize.SM"
              />
            }
          </div>

          @if (product.deprecatedSince || !product.consentRequired || product.paymentRequired) {
            <div class="flex flex-wrap gap-2">
              @if (product.deprecatedSince) {
                <app-agridata-badge
                  [text]="t('product.deprecated.text')"
                  [variant]="BadgeVariant.WARNING"
                  [size]="BadgeSize.SM"
                  [appTooltip]="t('product.deprecated.tooltip')"
                />
              }
              @if (!product.consentRequired) {
                <app-agridata-badge
                  [icon]="publicSectorIcon"
                  [text]="t('product.publicSector')"
                  [variant]="BadgeVariant.DEFAULT"
                  [size]="BadgeSize.SM"
                />
              }
              @if (product.paymentRequired) {
                <app-agridata-badge
                  [icon]="chfCircleIcon"
                  [text]="t('product.paymentRequired')"
                  [variant]="BadgeVariant.LIGHT"
                  [size]="BadgeSize.SM"
                />
              }
            </div>
          }
        </div>

        @if (description()) {
          <section class="flex flex-col gap-6">
            <h4>{{ t('product.description') }}</h4>
            <p class="whitespace-pre-line">
              {{ description() }}
            </p>
          </section>
        }

        @if (product.links && product.links.length > 0) {
          <section class="flex flex-col gap-6">
            <h4>{{ t('product.links') }}</h4>
            <app-agridata-links-list [links]="product.links" />
          </section>
        }
        @if (extendedDescription()) {
          <section class="flex flex-col gap-6">
            <h4>{{ t('product.extendedDescription') }}</h4>
            <p
              [innerHTML]="extendedDescription()"
              class="whitespace-pre-line rich-text-content"
            ></p>
          </section>
        }
        @if (paymentRequired() && pricingBasis()) {
          <section class="flex flex-col gap-6">
            <h4>{{ t('product.costs') }}</h4>
            <p [innerHTML]="pricingBasis()" class="whitespace-pre-line rich-text-content"></p>
          </section>
        }
      </div>
    }
  </ng-container>
</app-modal>
