<div class="relative hidden lg:inline-block" (appClickOutside)="handleClose()">
  <button
    class="flex justify-between items-center px-4 py-2 rounded focus:outline-none"
    (click)="handleToggle()"
    type="button"
  >
    <span>
      {{ selectedLanguage().toUpperCase() }}
    </span>
    <fa-icon [icon]="dropdownIcon()" class="ml-2" />
  </button>
  <app-popover [isOpen]="isOpen()" class="left-2.5">
    <ul>
      @for (option of languageOptions(); track option) {
        <li
          click-stop-propagation
          class="px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer"
          (click)="changeLanguage(option)"
          (keydown.enter)="changeLanguage(option)"
        >
          {{ option.toUpperCase() }}
        </li>
      }
    </ul>
  </app-popover>
</div>
<div class="lg:hidden">
  <ul class="flex gap-6 py-4 list-none">
    @for (option of languageOptions(); track option) {
      <li
        click-stop-propagation
        class="text-sm cursor-pointer"
        [class.font-bold]="option === selectedLanguage()"
        [class.underline]="option !== selectedLanguage()"
        (click)="changeLanguage(option)"
        (keydown.enter)="changeLanguage(option)"
        tabindex="0"
      >
        {{ option.toUpperCase() }}
      </li>
    }
  </ul>
</div>
