<div class="relative hidden lg:inline-block" (appClickOutside)="handleClose()">
  <button
    class="flex justify-between items-center px-4 py-2 rounded focus:outline-none"
    (click)="handleToggle()"
    type="button"
    [attr.data-testid]="'language-selector'"
  >
    <span>
      {{ selectedLanguage().toUpperCase() }}
    </span>
    <fa-icon [icon]="dropdownIcon()" class="ml-2" />
  </button>
  <app-popover [isOpen]="isOpen()" class="left-2.5">
    <div role="menu">
      @for (option of languageOptions(); track option) {
        <button
          type="button"
          class="px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer"
          [attr.data-testid]="'language-option-' + option"
          (click)="changeLanguage(option)"
        >
          {{ option.toUpperCase() }}
        </button>
      }
    </div>
  </app-popover>
</div>
<div class="lg:hidden">
  <ul class="flex gap-6 py-4">
    @for (option of languageOptions(); track option) {
      <li>
        <button
          type="button"
          class="text-sm"
          [class.font-bold]="option === selectedLanguage()"
          [class.underline]="option !== selectedLanguage()"
          [attr.data-testid]="'language-option-' + option"
          (click)="changeLanguage(option)"
        >
          {{ option.toUpperCase() }}
        </button>
      </li>
    }
  </ul>
</div>
