<ng-container *i18n="let t; prefix: 'data-products'">
  <div class="flex justify-between">
    <h2 class="page-title">
      <fa-icon [icon]="faLayerGroup" class="mr-3" />
      {{ t('pageTitle') }}
    </h2>
    <div>
      <app-agridata-button
        [variant]="ButtonVariants.Primary"
        (handleClick)="newProduct()"
        (keydown.enter)="newProduct()"
      >
        <fa-icon [icon]="buttonIcon" class="mr-2" />
        <span>{{ t('createNew') }}</span>
      </app-agridata-button>
    </div>
  </div>
  <app-error-outlet></app-error-outlet>
  <router-outlet />
  <app-agridata-table
    [dataProvider]="fetchDataProductsResource"
    [tableMetadata]="dataProductsTableMetaData()"
    [(queryParameters)]="resourceQueryDto"
  >
    <ng-template #nameTemplate [appDataProductDtoGuard] let-item>
      <span
        class="text-agridata-primary-600 agridata-ellipsis"
        [title]="this.i18nService.useObjectTranslation(item?.name)"
      >
        {{ this.i18nService.useObjectTranslation(item?.name) }}
      </span>
    </ng-template>
    <ng-template #stateCodeTemplate [appDataProductDtoGuard] let-item>
      <app-agridata-badge
        [text]="getStatusTranslation(item?.stateCode, i18nService)"
        [variant]="getBadgeVariant(item?.stateCode)"
        [size]="BadgeSize.SM"
      />
    </ng-template>
  </app-agridata-table>
</ng-container>
