<div
  class="flex flex-col lg:flex-row items-center gap-8"
  [class.lg:flex-row-reverse]="cmsData().reversed"
>
  <div class="flex flex-col gap-6 lg:w-1/2">
    <h3>{{ cmsData().heading }}</h3>
    <div [innerHTML]="cmsData().text | markdown"></div>

    @if (cmsData().list) {
      <app-list-block [list]="cmsData().list!" />
    }

    @if (button()) {
      @if (button()?.isButtonLink) {
        <app-agridata-button
          [href]="button()?.href!"
          [target]="button()?.isExternal ? HrefTarget.Blank : HrefTarget.Self"
          [variant]="ButtonVariants[`${button()?.type!}`]"
          additionalClass="w-fit"
        >
          {{ button()?.label }}
          <fa-icon [icon]="buttonIcon" />
        </app-agridata-button>
      } @else {
        <a [href]="button()?.href" [target]="button()?.isExternal ? '_blank' : '_self'">
          {{ button()?.label }}
        </a>
      }
    }

    @if (cmsData().linkedImages?.length) {
      <div class="flex gap-4 py-10 justify-start">
        @for (linkedImage of cmsData().linkedImages; track linkedImage.id) {
          <a [href]="linkedImage.link" target="_blank" rel="noopener noreferrer">
            <img
              [src]="generateMediaUrl(linkedImage.image.url)"
              [alt]="linkedImage.image.alternativeText"
              class="rounded-lg border border-agridata-stroke max-h-10"
            />
          </a>
        }
      </div>
    }
  </div>

  <div class="lg:w-1/2">
    @if (cmsData().image) {
      <img
        [src]="generateMediaUrl(cmsData().image.url)"
        [alt]="alternativeText()"
        class="rounded-lg"
      />
    }
  </div>
</div>
