<div
  class="flex flex-col px-5 py-5 h-full rounded-[5px]"
  [class]="colorClasses()"
  [class.md:px-8]="size() === 'large'"
  [class.md:py-8]="size() === 'large'"
  [class.gap-2]="size() === 'large'"
  [class.gap-6]="size() === 'medium'"
>
  @if (card().image) {
    <img
      [src]="generateMediaUrl(card().image.url)"
      alt="{{ card().image.alternativeText }}"
      class="w-[50px] h-[50px] object-cover rounded-full bg-white"
    />
  }
  <div class="flex flex-col gap-2" [class.text-white]="isColorized()">
    @if (size() === 'large') {
      <h3>{{ card().heading }}</h3>
    } @else if (size() === 'medium') {
      <h5>{{ card().heading }}</h5>
    } @else {
      <span>{{ card().heading }}</span>
    }
    <div class="text-sm" [innerHTML]="card().text | markdown"></div>
  </div>
</div>
