<!-- Search Section -->
@if (enableSearch()) {
  <div class="mb-4">
    <app-search-input
      (onInput)="handleSearchInput($event)"
      [isLoading]="dataProvider().isLoading()"
    >
    </app-search-input>
  </div>
}
@if (pageData().items.length === 0 && !dataProvider().isLoading()) {
  <!-- Empty State -->
  <div class="flex flex-1">
    <app-empty-state></app-empty-state>
  </div>
} @else {
  <!-- Main Table Container -->
  <div
    class="rounded-lg border bg-white min-h-50 border-gray-200 relative"
    *i18n="let t; prefix: 'table'"
  >
    @if (dataProvider().isLoading()) {
      <div class="absolute inset-0 flex items-center justify-center z-2">
        <fa-icon
          animation="spin"
          aria-label="table.loading"
          [icon]="faSpinnerThird"
          size="3x"
          class="bg-white"
        ></fa-icon>
      </div>
    }

    <table class="table-auto w-full bg-white rounded-lg">
      <!-- Table Header -->
      <thead class="text-left border-b border-gray-200">
        <tr>
          @for (column of tableMetadata().columns; track column.name) {
            <app-table-header-cell
              [columnDefinition]="column"
              [sortDirection]="headerColumnSortModel()[column.name]()"
              (sortChange)="setSingleColumnSort(column, $event)"
            ></app-table-header-cell>
          }

          @if (tableMetadata().rowAction && tableMetadata().showRowActionButton) {
            <th
              class="py-3 px-4 w-0"
              [attr.aria-label]="t('header.ariaLabels.rowActionColumnTitle')"
            ></th>
          }
          <!-- Actions Column Header -->
          @if (tableMetadata().rowMenuActions) {
            <th class="py-3 px-4 w-0" [attr.aria-label]="t('actions')"></th>
          }
        </tr>
      </thead>

      <tbody>
        <!-- Data Rows -->
        @for (row of pageData().items; track getRowId(row)) {
          <tr
            class="hover:bg-agridata-primary-50 cursor-pointer transition-colors duration-150"
            [class.bg-sky-50]="isRowHighlighted(row)"
            [attr.aria-selected]="isRowHighlighted(row)"
            (click)="handleRowClick(row)"
            (keydown.enter)="handleRowClick(row)"
            tabindex="0"
            role="button"
          >
            <!-- Data Cells -->
            @for (column of tableMetadata().columns; track column.name) {
              <app-table-cell [columnDefinition]="column" [row]="row"></app-table-cell>
            }
            @let rowAction = tableMetadata().rowAction;
            @if (rowAction && tableMetadata().showRowActionButton) {
              <td class="py-3 px-4 border-t border-gray-200 w-0 whitespace-nowrap">
                <app-agridata-button
                  click-stop-propagation
                  [variant]="ButtonVariants.Icon"
                  (onClick)="rowAction(row)"
                  class="action-button"
                  aria-label="{{ 'table.ariaLabels.rowAction' | i18n }}"
                >
                  <fa-icon size="xl" [icon]="iconRowAction"></fa-icon>
                </app-agridata-button>
              </td>
            }
            <!-- Actions Cell -->
            @if (tableMetadata().rowMenuActions) {
              <td class="py-3 px-4 border-t border-gray-200 w-0 whitespace-nowrap">
                <app-table-row-menu [actions]="getRowActions(row)"></app-table-row-menu>
              </td>
            }
          </tr>
        }
      </tbody>
    </table>

    <!-- Pagination Section -->
    @if (shouldShowPagination()) {
      <app-table-pagination
        [pageSize]="pageData().pageSize"
        [totalPages]="pageData().totalPages"
        [currentPageIndex]="pageData().currentPage"
        (pageChange)="nextPageIndex.set($event)"
        (pageSizeChange)="nextPageSize.set($event)"
      ></app-table-pagination>
    }
  </div>
}
