<div class="rounded-xl border border-gray-200 overflow-x-auto">
  <table class="table-auto w-full bg-white">
    <thead class="text-left border-b border-gray-200">
      <tr>
        @for (header of headers(); track header) {
          <th
            class="py-3 px-4 select-none text-slate-500 outline-0 hover:bg-gray-50 cursor-pointer focus:bg-gray-200 text-sm font-semibold"
            (click)="setSort($index)"
            (keydown.enter)="setSort($index)"
            [tabindex]="0"
          >
            <div class="flex items-center">
              <span class="mr-2">{{ header | i18n }}</span>
              <div class="min-w-4">
                @if (sortColumnIndex() === $index) {
                  <fa-icon [icon]="sortIcon()" class="text-agridata-primary-600" />
                }
              </div>
            </div>
          </th>
        }
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (row of paginated(); track row.id) {
        <tr
          agridataFlipRow
          [rowId]="row.id"
          [totalRows]="paginated().length"
          class="hover:bg-agridata-primary-50 cursor-pointer"
          [class.bg-sky-50]="row.highlighted"
          (click)="onRowClick(row)"
          (keydown.enter)="onRowClick(row)"
          (mouseenter)="setHoveredRow(row.id)"
          (mouseleave)="setHoveredRow(null)"
        >
          @for (column of row.data; track column.header) {
            <td class="py-3 px-4 border-t border-gray-200">
              @if (getTemplate(column.header)) {
                <ng-container
                  *ngTemplateOutlet="getTemplate(column.header); context: { $implicit: row }"
                >
                </ng-container>
              } @else {
                <div class="agridata-ellipsis w-auto" [title]="column.value">
                  {{ formatValue(column.value) }}
                </div>
              }
            </td>
          }
          <td class="py-3 px-4 border-t border-gray-200">
            <app-table-actions
              [actions]="row.actions"
              [isRowHovered]="hoveredRowId() === row.id"
              (rowAction)="onRowClick(row)"
            />
          </td>
        </tr>
      }
    </tbody>
  </table>
  @if (showPagination()) {
    <div class="flex justify-between items-center p-4 bg-gray-50">
      <div class="text-sm text-slate-500">
        Zeige {{ paginated().length }} von {{ sortedRows().length }} Einträgen
      </div>
      <div class="flex items-center">
        <app-agridata-button
          [variant]="ButtonVariants.Secondary"
          (onClick)="prevPage()"
          [disabled]="currentPage() === 1"
        >
          <
        </app-agridata-button>
        <span class="mx-2 text-sm text-slate-500">
          Seite {{ currentPage() }} von {{ totalPages() }}
        </span>
        <app-agridata-button
          [variant]="ButtonVariants.Secondary"
          (onClick)="nextPage()"
          [disabled]="currentPage() === totalPages()"
        >
          >
        </app-agridata-button>
      </div>
    </div>
  }
</div>
