<app-consent-request-filter (onClick)="setStateCodeFilter($event)" [requests]="consentRequests()" />
<app-agridata-client-table
  [rawData]="filteredConsentRequests()"
  [tableMetadata]="consentRequestsTableMetaData()"
  class="hidden lg:block"
>
  <ng-template #dataRequestConsumer [appConsentRequestProducerViewDtoGuard] let-item>
    <div class="flex items-center gap-2">
      <app-agridata-contact-card
        [imageUrl]="item.dataRequest?.dataConsumerLogoBase64"
        [name]="item.dataRequest?.dataConsumerDisplayName"
        [secondaryName]="item.dataRequest?.dataConsumerCity"
        [size]="AvatarSize.SMALL"
        [skin]="AvatarSkin.LIGHT"
      />
    </div>
  </ng-template>
  <ng-template #dataRequestTitle [appConsentRequestProducerViewDtoGuard] let-item>
    <span
      class="text-agridata-primary-600 agridata-ellipsis"
      [title]="getTranslation(item.dataRequest?.title)"
    >
      {{ getTranslation(item.dataRequest?.title) }}
    </span>
  </ng-template>
  <ng-template #dataRequestState [appConsentRequestProducerViewDtoGuard] let-item>
    <app-agridata-badge
      [text]="getTranslatedStateValue(item.stateCode)"
      [variant]="getBadgeVariant(item?.stateCode)"
      [size]="BadgeSize.SM"
    />
  </ng-template>
</app-agridata-client-table>
<app-consent-request-list
  class="lg:hidden"
  [consentRequests]="filteredConsentRequests()"
  (openDetails)="openDetails($event)"
  (updateConsentRequestStatus)="updateConsentRequestState($event.id, $event.newState, $event.title)"
/>
