<app-consent-request-filter
  (onClick)="setStateCodeFilter($event)"
  [requests]="consentRequests()"
></app-consent-request-filter>
<app-agridata-table
  [rawData]="requests()"
  [defaultSortColumn]="dataRequestStateHeader"
  [defaultSortDirection]="SortDirections.DESC"
>
  <ng-template [stCell]="dataRequestTitleHeader" let-item>
    <span class="text-agridata-primary-600 agridata-ellipsis">
      {{ getCellValue(item, dataRequestTitleHeader) }}
    </span>
  </ng-template>
  <ng-template [stCell]="dataRequestStateHeader" let-item>
    <app-agridata-badge
      [text]="getTranslatedStateValue(item, dataRequestStateHeader)"
      [variant]="getBadgeVariant(getCellValue(item, dataRequestStateHeader))"
      [size]="BadgeSize.SM"
    />
  </ng-template>
</app-agridata-table>
