<app-consent-request-filter (onClick)="setStateCodeFilter($event)" [requests]="consentRequests()" />
<app-agridata-table
  [rawData]="requests()"
  [defaultSortColumn]="dataRequestStateHeader"
  [defaultSortDirection]="SortDirections.DESC"
  class="hidden lg:block"
>
  <ng-template [stCell]="dataRequestConsumerHeader" let-item>
    <div class="flex items-center gap-2">
      <app-agridata-avatar
        [imageUrl]="getConsumerLogo(item)"
        [name]="getCellValue(item, dataRequestConsumerHeader)"
        [size]="AvatarSize.MEDIUM"
        [skin]="AvatarSkin.LIGHT"
      />
      <span class="agridata-ellipsis">
        {{ getCellValue(item, dataRequestConsumerHeader) }}
      </span>
    </div>
  </ng-template>
  <ng-template [stCell]="dataRequestTitleHeader" let-item>
    <span
      class="text-agridata-primary-600 agridata-ellipsis"
      [title]="getCellValue(item, dataRequestTitleHeader)"
    >
      {{ getCellValue(item, dataRequestTitleHeader) }}
    </span>
  </ng-template>
  <ng-template [stCell]="dataRequestStateHeader" let-item>
    <app-agridata-badge
      [text]="getTranslatedStateValue(item, dataRequestStateHeader)"
      [variant]="getBadgeVariant(getCellValue(item, dataRequestStateHeader))"
      [size]="BadgeSize.SM"
    />
  </ng-template>
</app-agridata-table>
<app-consent-request-list
  class="lg:hidden"
  [consentRequests]="consentRequests()"
  (openDetails)="openDetails($event)"
/>
