.step-bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--color-agridata-secondary-text);
  border-radius: 50%;
  border: 2px solid var(--color-gray-300);
  font-weight: bold;
  font-size: 1.125rem; /* 18px */
  z-index: 10;
  width: 50px;
  height: 50px;
}

.step-bubble.active {
  background-color: white;
  border-color: var(--color-agridata-secondary-600);
}

.step-bubble.completed {
  background-color: var(--color-agridata-secondary-600);
  border-color: var(--color-agridata-secondary-600);
  color: white;
}
