<ng-container *i18n="let t; prefix: 'data-products.detailForm'">
  <div class="flex flex-col gap-4">
    <h3>{{ t('dataProduct') }}</h3>
    <div
      class="transition-all duration-300 ease-in-out"
      [class.h-0]="isViewMode()"
      [class.h-full]="!isViewMode()"
      [class.opacity-0]="isViewMode()"
      [class.opacity-100]="!isViewMode()"
    >
      <app-alert [title]="t('infoTitle')" [message]="t('infoMessage')" [type]="AlertType.INFO" />
    </div>
    <div appViewSection [isViewMode]="isViewMode()">
      <app-form-control
        [control]="getFormControl('name.de')"
        [label]="t('name.de.label')"
        [placeholder]="t('name.de.placeholder')"
        [isViewMode]="isViewMode()"
        id="name-de"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
      />
      <app-form-control
        [control]="getFormControl('description.de')"
        [controlType]="ControlTypes.TEXT_AREA"
        [label]="t('description.de.label')"
        [placeholder]="t('description.de.placeholder')"
        [isViewMode]="isViewMode()"
        id="description-de"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
      />
    </div>
    <div appViewSection [isViewMode]="isViewMode()">
      <app-form-control
        [control]="getFormControl('name.fr')"
        [label]="t('name.fr.label')"
        [placeholder]="t('name.fr.placeholder')"
        [isViewMode]="isViewMode()"
        id="name-fr"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
      />
      <app-form-control
        [control]="getFormControl('description.fr')"
        [controlType]="ControlTypes.TEXT_AREA"
        [label]="t('description.fr.label')"
        [placeholder]="t('description.fr.placeholder')"
        [isViewMode]="isViewMode()"
        id="description-fr"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
      />
    </div>
    <div appViewSection [isViewMode]="isViewMode()">
      <app-form-control
        [control]="getFormControl('name.it')"
        [label]="t('name.it.label')"
        [placeholder]="t('name.it.placeholder')"
        [isViewMode]="isViewMode()"
        id="name-it"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
      />
      <app-form-control
        [control]="getFormControl('description.it')"
        [controlType]="ControlTypes.TEXT_AREA"
        [label]="t('description.it.label')"
        [placeholder]="t('description.it.placeholder')"
        [isViewMode]="isViewMode()"
        id="description-it"
        [class.py-3]="isViewMode()"
        [class.px-4]="isViewMode()"
      />
    </div>
  </div>
</ng-container>
