<ng-container *i18n="let t; prefix: 'data-products.detailForm'">
  <div class="flex flex-col gap-4">
    <h3>{{ t('dataProduct') }}</h3>
    @if (stateCode() !== DataProductDtoStateCode.Active) {
      <div
        class="transition-all duration-300 ease-in-out"
        [class.h-0]="isViewMode()"
        [class.h-full]="!isViewMode()"
        [class.opacity-0]="isViewMode()"
        [class.opacity-100]="!isViewMode()"
      >
        <app-alert
          [title]="t('infoTitle')"
          [message]="t('infoMessage')"
          [type]="AlertType.INFO"
          [class.hidden]="isViewMode()"
        />
      </div>
    }
    @if (nameDisabled()) {
      <app-alert [type]="AlertType.INFO">
        <app-linked-text [parts]="nameDisabledMessageParts()" />
      </app-alert>
    }
    @for (lang of availableLangs; track lang) {
      <div appViewSection [isViewMode]="isViewMode()">
        <app-form-control
          [control]="getFormControl(`name.${lang}`)"
          [label]="t(`name.${lang}.label`)"
          [placeholder]="t(`name.${lang}.placeholder`)"
          [isViewMode]="isViewMode()"
          [id]="`name-${lang}`"
          [class.py-3]="isViewMode()"
          [class.px-4]="isViewMode()"
        />

        <app-form-control
          [control]="getFormControl(`description.${lang}`)"
          [controlType]="ControlTypes.TEXT_AREA"
          [label]="t(`description.${lang}.label`)"
          [placeholder]="t(`description.${lang}.placeholder`)"
          [isViewMode]="isViewMode()"
          [id]="'description-' + lang"
          [class.py-3]="isViewMode()"
          [class.px-4]="isViewMode()"
        />
      </div>
    }
  </div>

  <div class="flex flex-col gap-4">
    <h3>{{ t('additionalInfo') }}</h3>

    <h4 class="text-agridata-primary-text">
      {{ t('extendedDescription.heading') }}
    </h4>

    @for (lang of availableLangs; track lang) {
      <div appViewSection [isViewMode]="isViewMode()">
        <app-form-control
          [control]="getFormControl(`extendedDescription.${lang}`)"
          [controlType]="ControlTypes.TEXT_AREA"
          [label]="t(`extendedDescription.${lang}.label`)"
          [placeholder]="t(`extendedDescription.${lang}.placeholder`)"
          [isViewMode]="isViewMode()"
          [id]="`extendedDescription-${lang}`"
          [class.py-3]="isViewMode()"
          [class.px-4]="isViewMode()"
          isWysiwyg
        />
      </div>
    }
  </div>
</ng-container>
