<ng-container *i18n="let t; prefix: 'data-request.contractPdf'">
  <h4 class="mb-4">{{ t('title') }}</h4>
  <div class="flex py-3 px-4 border border-agridata-stroke rounded-lg justify-between items-center">
    <div class="flex gap-4">
      @if (isLoadingOpen()) {
        <fa-icon animation="spin" [icon]="faSpinnerThird"></fa-icon>
      }
      <app-agridata-button
        [variant]="ButtonVariants.Link"
        (onClick)="handleOpenPdf()"
        [disabled]="isLoadingOpen()"
      >
        <span class="flex gap-4">
          @if (!isLoadingOpen()) {
            <fa-icon [icon]="faPdf"></fa-icon>
          }
          {{ fileName() }}
        </span>
      </app-agridata-button>
    </div>
    <div class="flex gap-4">
      <app-agridata-button
        [variant]="ButtonVariants.Link"
        (onClick)="handleDownloadPdf()"
        [disabled]="isLoadingDownload()"
      >
        <span class="flex gap-4">
          {{ t('download') }}
          @if (!isLoadingDownload()) {
            <fa-icon [icon]="faDownload"></fa-icon>
          }
        </span>
      </app-agridata-button>
      @if (isLoadingDownload()) {
        <fa-icon animation="spin" [icon]="faSpinnerThird"></fa-icon>
      }
    </div>
  </div>
</ng-container>
