@if (consentRequestResult.isLoading()) {
<div>Loading…</div>
} @else {
<h2 class="mb-12"><fa-icon [icon]="fileIcon" class="mr-3" />Freigaben</h2>
<app-consent-request-filter
  (onClick)="setStateFilter($event)"
  [indicatorValue]="totalOpenRequests()"
></app-consent-request-filter>
<app-agridata-table
  [data]="requests()"
  defaultSortColumn="Antragsdatum"
  defaultSortDirection="desc"
>
  <ng-template stCell="Datenantrag" let-item>
    <span class="text-agridata-primary-600"> {{ getCellValue(item, 'Datenantrag') }} </span>
  </ng-template>
  <ng-template stCell="Status" let-item>
    <span class="px-2 py-1 rounded text-xs" [class]="getStateClasses(getCellValue(item, 'Status'))">
      {{ getCellValue(item, 'Status') }}
    </span>
  </ng-template>
</app-agridata-table>
<app-consent-request-details
  [request]="selectedRequest()"
  (onCloseDetail)="showConsentRequestDetails()"
/>
}
