@if (consentRequestResult.isLoading()) {
<div>Loading…</div>
} @else {
<h2 class="mb-6"><fa-icon [icon]="fileIcon" class="mr-3" />Freigaben</h2>
<app-consent-request-filter
  (onClick)="setStateFilter($event)"
  [indicatorValue]="totalOpenRequests()"
></app-consent-request-filter>
<app-agridata-table
  [data]="requests()"
  defaultSortColumn="Antragsdatum"
  defaultSortDirection="desc"
>
  <ng-template stCell="Status" let-item>
    <span
      class="px-2 py-1 rounded text-xs"
      [class.bg-cyan-50]="getCellValue(item, 'Status') === 'OPENED'"
      [class.bg-green-100]="getCellValue(item, 'Status') === 'GRANTED'"
      [class.bg-red-100]="getCellValue(item, 'Status') === 'DECLINED'"
    >
      {{ getCellValue(item, 'Status') }}
    </span>
  </ng-template>
</app-agridata-table>
}
