<div class="flex flex-col gap-4 pt-4">
  @if (contractResource.isLoading()) {
    <fa-icon
      animation="spin"
      [icon]="faSpinnerThird"
      size="3x"
      class="absolute flex items-center justify-center inset-0"
    />
  } @else if (dataRequestContract(); as contract) {
    <app-data-request-contract-pdf
      [contractRevisionId]="dataRequest().currentContractRevisionId!"
      [dataRequest]="dataRequest()"
    />
    <app-data-request-completion-signing-status
      [contract]="contract"
      [dataRequestStateCode]="dataRequest().stateCode"
    />
    @if (canSealContract()) {
      <ng-container *i18n="let t; prefix: 'data-request.details.contract.sealing'">
        <h4>{{ t('heading') }}</h4>
        <div class="flex flex-col gap-4">
          <span class="text-agridata-secondary-text">
            {{ t('description') }}
          </span>
          <div class="flex justify-end">
            <app-agridata-button
              [variant]="ButtonVariants.PrimaryAccept"
              [loading]="isSealing()"
              [success]="sealSucceeded()"
              (handleClick)="sealContract()"
            >
              {{ t('action') }}
            </app-agridata-button>
          </div>
        </div>
      </ng-container>
    }
  }
</div>
