<div
  class="px-6 lg:px-10 py-10 lg:py-20 flex flex-col items-center w-full gap-10"
  [attr.id]="cmsData().anchorId ? cmsData().anchorId : null"
>
  <div class="flex flex-col gap-4 text-center w-full">
    <h2>{{ cmsData().heading }}</h2>
    @if (cmsData().subHeading) {
      <p class="text-md lg:text-lg font-medium">{{ cmsData().subHeading }}</p>
    }
  </div>
  <app-slider class="contents w-full">
    @for (block of cmsData().feedbackBlocks; track `${cmsData().__component}_${block.id}`) {
      <app-user-feedback-block [block]="block" class="h-full" />
    }
  </app-slider>
</div>
