<div class="flex flex-col gap-10 py-4" *i18n="let t; prefix: 'data-request.details.producer'">
  <app-data-request-details-producers-metadata [dataRequestId]="dataRequest().id" />
  <app-agridata-table
    class="block"
    [dataProvider]="producersResource"
    [tableMetadata]="tableMetadata()"
    [(queryParameters)]="resourceQueryDto"
    [enableSearch]="true"
    [emptyStateTemplate]="emptyStateTemplate"
  >
    <app-agridata-button
      tableToolbar
      [variant]="ButtonVariants.Primary"
      [icon]="addIcon"
      (handleClick)="openAddModal()"
      >{{ t('addButton') }}</app-agridata-button
    >
    <ng-template #stateTemplate [appConsentRequestFundamentalViewDtoGuard] let-item>
      <app-agridata-badge
        [text]="getStateTranslation(item.stateCode)"
        [variant]="getConsentRequestBadgeVariant(item.stateCode)"
        [size]="BadgeSize.SM"
      />
    </ng-template>
  </app-agridata-table>
  <ng-template #emptyStateTemplate>
    <app-empty-state [title]="t('emptyState.title')" [message]="t('emptyState.message')">
      <app-agridata-button
        emptyStateAction
        [variant]="ButtonVariants.Primary"
        [icon]="addIcon"
        (handleClick)="openAddModal()"
      >
        {{ t('addButton') }}
      </app-agridata-button>
    </app-empty-state>
  </ng-template>

  <app-data-request-add-producers
    [dataRequest]="dataRequest()"
    [(open)]="addProducersOpen"
    [initialUid]="prefillUid()"
    (reloadProducers)="producersResource.reload()"
  />
</div>
