<div
  class="flex flex-col gap-2 rounded-lg"
  *i18n="let t; prefix: 'data-request.products'; lang: currentLanguage()"
>
  <app-agridata-accordion
    [header]="t('description', { consumer: consumerName(), provider: providerName() })"
  >
    <div class="flex flex-col gap-6">
      @for (product of productsList(); track product.id) {
        <div class="flex flex-col gap-1">
          <span class="text-agridata-secondary-text font-bold">
            {{ getFieldFromLang(product, 'name') }}
          </span>
          <span class="text-agridata-primary-text whitespace-pre-line">
            {{ getFieldFromLang(product, 'description') }}
          </span>
        </div>
      }
      <a
        [href]="productDataLink"
        target="_blank"
        class="text-agridata-primary-600 hover:underline cursor-pointer"
      >
        {{ t('moreInfos') }}
      </a>
    </div>
  </app-agridata-accordion>
</div>
