---
openapi: 3.1.0
components:
  schemas:
    AgisSearchParameters:
      type: object
      properties:
        personSearchParameters:
          $ref: "#/components/schemas/PersonSearchParameter"
    ConsentRequestDto:
      type: object
      required:
      - id
      description: Data transfer object representing a consent request
      properties:
        id:
          $ref: "#/components/schemas/UUID"
          type: string
          examples:
          - 3fa85f64-5717-4562-b3fc-2c963f66afa6
          description: Unique identifier of the consent request
        dataProducerId:
          type: string
          examples:
          - eb034f30-511b-4888-9b73-5572dd7d846c
          description: Unique identifier of the data producer
        stateCode:
          $ref: "#/components/schemas/ConsentRequestStateEnum"
          type: string
          examples:
          - PENDING
          description: Current state of the consent request
        lastStateChangeDate:
          $ref: "#/components/schemas/LocalDate"
          type: string
          examples:
          - 2025-05-20
          description: Date when the state was changed last
        requestDate:
          $ref: "#/components/schemas/LocalDate"
          type: string
          examples:
          - 2025-05-19
          description: Date when the request was made
        dataRequest:
          type: object
          required:
          - id
          description: Details of the underlying data request
          properties:
            id:
              $ref: "#/components/schemas/UUID"
              type: string
              examples:
              - 3fa85f64-5717-4562-b3fc-2c963f66afb7
              description: Unique identifier of the data request
            title:
              $ref: "#/components/schemas/TranslationDto"
              type: object
              examples:
              - Anfrage zu Bodentypen und Bodenqualitaetsdaten
              description: Title of the data request
            description:
              $ref: "#/components/schemas/TranslationDto"
              type: object
              examples:
              - "Ziel der Anfrage ist es, Informationen über Bodentypen und deren\
                \ Qualität zu erhalten, um fundierte Entscheidungen zur Fruchtfolge,\
                \ Düngung und nachhaltigen Bewirtschaftung treffen zu können."
              description: 'Description of the data request '
            purpose:
              $ref: "#/components/schemas/TranslationDto"
              type: object
              examples:
              - Bewertung der Bodenqualität
              description: Purpose of the data request
            dataConsumer:
              type: object
              description: Details of the data consumer making the request
              properties:
                name:
                  type: string
                  examples:
                  - LabelOrganisation A
                  description: Name of the data consumer organization or individual
    ConsentRequestStateEnum:
      type: string
      enum:
      - GRANTED
      - OPENED
      - DECLINED
      description: Possible states of a consent request
    DataConsumerDto:
      type: object
      description: Details of the data consumer making the request
      properties:
        name:
          type: string
          examples:
          - LabelOrganisation A
          description: Name of the data consumer organization or individual
    DataRequestDto:
      type: object
      required:
      - id
      description: Details of the underlying data request
      properties:
        id:
          $ref: "#/components/schemas/UUID"
          type: string
          examples:
          - 3fa85f64-5717-4562-b3fc-2c963f66afb7
          description: Unique identifier of the data request
        title:
          $ref: "#/components/schemas/TranslationDto"
          type: object
          examples:
          - Anfrage zu Bodentypen und Bodenqualitaetsdaten
          description: Title of the data request
        description:
          $ref: "#/components/schemas/TranslationDto"
          type: object
          examples:
          - "Ziel der Anfrage ist es, Informationen über Bodentypen und deren Qualitä\
            t zu erhalten, um fundierte Entscheidungen zur Fruchtfolge, Düngung und\
            \ nachhaltigen Bewirtschaftung treffen zu können."
          description: 'Description of the data request '
        purpose:
          $ref: "#/components/schemas/TranslationDto"
          type: object
          examples:
          - Bewertung der Bodenqualität
          description: Purpose of the data request
        dataConsumer:
          type: object
          description: Details of the data consumer making the request
          properties:
            name:
              type: string
              examples:
              - LabelOrganisation A
              description: Name of the data consumer organization or individual
    ExceptionDto:
      type: object
      properties:
        message:
          type: string
        requestId:
          type: string
        type:
          $ref: "#/components/schemas/ExceptionEnum"
        debugMessage:
          type: string
    ExceptionEnum:
      type: string
      enum:
      - GENERIC
    LocalDate:
      type: string
      format: date
      examples:
      - 2022-03-10
    PersonSearchParameter:
      type: object
      properties:
        ktIdP:
          type: string
          examples:
          - TG113657
    TranslationDto:
      type: object
      properties:
        de:
          type: string
        fr:
          type: string
        it:
          type: string
    UUID:
      type: string
      format: uuid
      pattern: "[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
  securitySchemes:
    SecurityScheme:
      type: openIdConnect
      description: Authentication
      openIdConnectUrl: http://localhost:6999/realms/agate/.well-known/openid-configuration
tags:
- name: Agis Test controller
  description: Used to test the Agis service integration
- name: Consent Requests
  description: "Handles creation, retrieval, and updates of consent requests by the\
    \ data producer"
- name: Data Requests
  description: "Handles creation, retrieval, and updates of data requests"
- name: Test Data
paths:
  /api/agis/v1/data-requests:
    post:
      operationId: findRegisterData
      tags:
      - Agis Test controller
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AgisSearchParameters"
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: {}
        "401":
          description: Not Authorized
        "403":
          description: Not Allowed
        "400":
          description: Bad Request
        "404":
          description: The resource or element was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
        "500":
          description: "Internal server error: unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
      summary: Find Register Data
      security:
      - SecurityScheme:
        - agridata.ch.Agridata_Admin
  /api/agreement/v1/consent-requests:
    get:
      operationId: getConsentRequests
      tags:
      - Consent Requests
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ConsentRequestDto"
        "401":
          description: Not Authorized
        "403":
          description: Not Allowed
        "404":
          description: The resource or element was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
        "500":
          description: "Internal server error: unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
      summary: Get Consent Requests For Current Data Producer
      security:
      - SecurityScheme:
        - agridata.ch.Agridata_Einwilliger
  /api/agreement/v1/consent-requests/{id}/status:
    put:
      operationId: updateConsentRequestStatus
      tags:
      - Consent Requests
      parameters:
      - description: ID of the consent request
        required: true
        name: id
        in: path
        schema:
          $ref: "#/components/schemas/UUID"
      requestBody:
        description: New status of the consent request
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsentRequestStateEnum"
        required: true
      responses:
        "204":
          description: No Content
        "401":
          description: Not Authorized
        "403":
          description: Not Allowed
        "404":
          description: The resource or element was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
        "500":
          description: "Internal server error: unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
      summary: Update Consent Request State For Current Data Producer
      security:
      - SecurityScheme:
        - agridata.ch.Agridata_Einwilliger
  /api/agreement/v1/data-requests:
    get:
      operationId: getDataRequests
      tags:
      - Data Requests
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DataRequestDto"
        "401":
          description: Not Authorized
        "403":
          description: Not Allowed
        "404":
          description: The resource or element was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
        "500":
          description: "Internal server error: unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
      summary: Get Data Requests
      security:
      - SecurityScheme:
        - agridata.ch.Agridata_Admin
  /api/test-data/reset:
    post:
      operationId: resetTestData
      tags:
      - Test Data
      responses:
        "201":
          description: Created
        "404":
          description: The resource or element was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
        "500":
          description: "Internal server error: unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
      summary: Reset Test Data
  /q/info:
    get:
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: string
        "404":
          description: The resource or element was not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
        "500":
          description: "Internal server error: unexpected error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExceptionDto"
      summary: Info
      tags:
      - Info Resource
info:
  title: agridata.ch API
  version: 1.0.0-rc.31
  description: This API handles data and consent requests for agridata.ch.
