<app-sidepanel
  [isOpen]="detailsOpened()"
  (closeSidepanel)="handleCloseDetails()"
  [preventManualClose]="shouldRedirect()"
  [title]="t('sidepanel.title')"
  [dataTestId]="'consent-request-details-sidepanel'"
  maxWidth="768px"
  *i18n="let t; prefix: 'consent-request.details'"
>
  <div subtitle class="flex justify-between gap-1">
    <span class="text-agridata-tertiary-text text-sm font-normal">
      {{ t('requestDate', { date: formattedRequestDate() }) }}
    </span>
    <app-agridata-badge
      [text]="badgeText().key | i18n: badgeText().params"
      [size]="badgeSize.MD"
      [variant]="badgeVariant()"
    />
  </div>
  <app-error-outlet></app-error-outlet>
  <div class="overflow-y-auto flex flex-col gap-6 grow pb-10" appScrollFade>
    @if (request()?.showStateAsMigrated) {
      <app-alert [type]="AlertType.INFO" [message]="t('request.migrated')" />
    }
    @if (request()?.dataRequest; as dataRequest) {
      <app-data-request-content [dataRequest]="dataRequest" />
    }
  </div>
  <div class="justify-center flex flex-col gap-6 pt-6" id="consent-request-footer">
    <div class="flex gap-2">
      @if (decisionStore.editMode()) {
        <app-agridata-button
          [variant]="ButtonVariants.Secondary"
          [disabled]="showSaveLoading()"
          (handleClick)="cancelEdit()"
          [additionalClass]="'w-full'"
        >
          {{ t('actions.cancelEditMode') }}
        </app-agridata-button>
        <app-agridata-button
          [variant]="ButtonVariants.PrimaryAccept"
          [disabled]="noBurGranted() || agridataStateService.isImpersonating()"
          [disabledInfo]="t('actions.saveDisabledInfo')"
          [loading]="showSaveLoading()"
          (handleClick)="saveBurDecisions()"
          [additionalClass]="'w-full'"
        >
          {{ t('actions.saveAndAccept') }}
        </app-agridata-button>
      } @else {
        <app-agridata-button
          [variant]="ButtonVariants.SecondaryReject"
          [disabled]="rejectDisabled() || agridataStateService.isImpersonating()"
          [loading]="showRejectedLoading()"
          (handleClick)="rejectRequest()"
          [additionalClass]="'w-full'"
        >
          {{ t('actions.reject') }}
        </app-agridata-button>
        <app-agridata-button
          [variant]="ButtonVariants.PrimaryAccept"
          [disabled]="acceptDisabled() || agridataStateService.isImpersonating()"
          [loading]="showAcceptedLoading()"
          (handleClick)="acceptRequest()"
          [additionalClass]="'w-full'"
        >
          {{ t('actions.accept') }}
        </app-agridata-button>
      }
    </div>
    <span class="w-full flex justify-center text-agridata-tertiary-text text-sm">
      {{ noBurGranted() ? t('footerInformationNoBur') : t('footerInformation') }}
    </span>
  </div>
</app-sidepanel>
@if (showRedirect()) {
  <app-modal
    [open]="showRedirect()"
    [title]="'producer.redirect.headline' | i18n"
    [showCloseButton]="false"
    [dataTestId]="'redirect-modal'"
  >
    <div class="text-center" *i18n="let t; prefix: 'producer.redirect'">
      <div class="flex justify-center mb-4">
        <p>{{ t('description', { count: countdownValue() }) }}</p>
      </div>
      <app-agridata-button (handleClick)="redirectDirectly()">
        {{ t('redirectNow') }}
      </app-agridata-button>
    </div>
  </app-modal>
}
