<app-agridata-button
  (onClick)="toggleNavigation()"
  [variant]="ButtonVariants.Icon"
  [additionalClass]="'group w-10'"
>
  <fa-icon
    [icon]="menuIcon"
    size="xl"
    class="text-white self-end group-hover:text-agridata-primary-600"
  />
</app-agridata-button>
<div
  class="fixed right-0 top-0 bottom-0 z-10 overflow-hidden backdrop-brightness-75 shadow-2xl transition-[width] duration-300 ease-in-out max-w-[425px] bg-agridata-primary-text"
  [class.w-0]="!isNavigationOpen()"
  [class.w-full]="isNavigationOpen()"
>
  <div
    class="flex flex-col gap-8 h-full py-8 px-12 transition-opacity duration-100 ease-in-out relative"
    [class.opacity-0]="!isNavigationOpen()"
    [class.opacity-100]="isNavigationOpen()"
  >
    <app-agridata-button
      (onClick)="toggleNavigation()"
      [variant]="ButtonVariants.Icon"
      class="flex self-end group"
      additionalClass="self-end"
    >
      <fa-icon
        [icon]="closeIcon"
        size="xl"
        class="text-white group-hover:text-agridata-primary-600"
      />
    </app-agridata-button>
    @if (isAuthenticated()) {
      <div class="flex flex-col gap-4">
        <div class="flex w-full gap-3 items-center p-2">
          <app-agridata-avatar [name]="overlayName()" [size]="AvatarSize.SMALL" />
          <div class="flex-1 text-left">
            <div>{{ overlayName() }}</div>
            <div class="text-sm text-gray-400">{{ overlayEmail() }}</div>
          </div>
        </div>
        <app-uid-switch [variant]="UidSwitchVariant.Dark" />
      </div>
    } @else {
      <ul>
        <li>
          <!-- TODO: DIGIB2-XXX Add this -->
          <!-- <a routerLink="/" class="flex gap-3">
            <fa-icon [icon]="homeIcon" size="lg" />
            {{ 'navigation.menuItems.home' | i18n }}
          </a> -->
        </li>
      </ul>
    }
    <app-contact-support-info />
    <agridata-language-select />
    <hr class="text-agridata-tertiary-text" />
    @if (isAuthenticated()) {
      <app-agridata-button
        [variant]="ButtonVariants.SecondaryCms"
        (onClick)="authService.logout()"
        [additionalClass]="'w-full'"
      >
        {{ 'account.logout' | i18n }}
      </app-agridata-button>
    } @else {
      <app-agridata-button
        [variant]="ButtonVariants.SecondaryCms"
        (onClick)="authService.login()"
        [additionalClass]="'w-full'"
      >
        {{ 'account.login' | i18n }}
      </app-agridata-button>
    }
  </div>
</div>
