<app-modal
  [open]="open()"
  [title]="'agb.modal.title' | i18n"
  [showCloseButton]="!isBlocking()"
  [dataTestId]="'agb-modal'"
  (closed)="dismiss()"
>
  <div class="flex flex-col gap-6" *i18n="let t; prefix: 'agb.modal'">
    @if (isBlocking()) {
      <app-linked-text [parts]="isBlockingParts()" [href]="appBaseUrl" />
    } @else {
      <p>{{ t('info') }}</p>
    }

    <div class="flex items-center gap-3 p-2 bg-agridata-content-gray rounded-lg">
      <app-agridata-toggle [(checked)]="consentChecked" [ariaLabel]="consentLabel()" />

      <app-linked-text [parts]="agbParts()" [href]="contractAgbUrl()" />
    </div>
    <div class="flex justify-end gap-2">
      @if (!isBlocking()) {
        <app-agridata-button
          [variant]="ButtonVariants.Secondary"
          [additionalClass]="'mr-auto'"
          [dataTestId]="'agb-modal-remind-later'"
          (handleClick)="dismiss()"
          >{{ t('remindLater') }}</app-agridata-button
        >
      }

      <app-agridata-button
        [variant]="ButtonVariants.Primary"
        [disabled]="!consentChecked()"
        [dataTestId]="'agb-modal-accept'"
        (handleClick)="accept()"
        >{{ t('accept') }}</app-agridata-button
      >
    </div>
  </div>
</app-modal>
