<div class="flex border-b border-agridata-stroke gap-10" role="tablist">
  @for (tab of tabs(); track tab.id) {
    <button
      type="button"
      role="tab"
      class="px-2 py-3 text-sm font-medium transition-all -mb-px border-b-2 shadow-agridata-primary-text/3"
      [class.hover:border-b-agridata-secondary-text]="activeTabId() !== tab.id"
      [class.shadow-xl]="activeTabId() === tab.id"
      [class.text-agridata-primary-600]="activeTabId() === tab.id"
      [class.border-agridata-primary-600]="activeTabId() === tab.id"
      [class.text-agridata-secondary-text]="activeTabId() !== tab.id"
      [class.border-transparent]="activeTabId() !== tab.id"
      [class.text-red-500]="tab.hasError"
      [class.border-red-500]="tab.hasError"
      [class.opacity-50]="tab.disabled"
      [class.cursor-not-allowed]="tab.disabled"
      [attr.aria-selected]="activeTabId() === tab.id"
      [attr.aria-label]="tab.label"
      [disabled]="tab.disabled"
      (click)="handleTabClick(tab)"
    >
      {{ tab.label }}
      @if (tab.hasError) {
        <fa-icon class="ml-1" [icon]="faWarning" />
      }
    </button>
  }
</div>
