<ng-container *i18n="let t; prefix: 'admin'">
  <app-data-request-details
    [dataRequestId]="dataRequestId()"
    [isRedirectUriRegexEditable]="true"
    [autoOpenUnsealedContractTab]="true"
    (closeSidepanel)="handleClose()"
    (contractSealed)="handleContractSealed()"
    #details
  >
    <div footer class="flex gap-2 justify-between pt-4">
      <div class="flex gap-2">
        <app-agridata-button
          class="flex-1"
          [variant]="ButtonVariants.PrimaryAccept"
          [loading]="isAccepting()"
          [disabled]="isActionPending() || details.dataRequest()?.stateCode !== DataRequestStateEnum.InReview"
          (handleClick)="acceptRequest()"
        >
          {{ t('actions.accept') }}
        </app-agridata-button>
        <app-agridata-button
          class="flex-1"
          [variant]="ButtonVariants.SecondaryReject"
          [loading]="isRejecting()"
          [disabled]="isActionPending() || details.dataRequest()?.stateCode !== DataRequestStateEnum.InReview"
          (handleClick)="rejectRequest()"
        >
          {{ t('actions.reject') }}
        </app-agridata-button>
      </div>
      @if (details.dataRequest()?.stateCode === DataRequestStateEnum.ToBeActivated) {
      <app-agridata-button
        class="flex-1"
        [disabled]="contractNotSealed()"
        [variant]="ButtonVariants.PrimaryAccept"
        [loading]="isActivating()"
        (handleClick)="activateRequest()"
      >
        {{ t('actions.activate') }}
      </app-agridata-button>
      } @if (details.dataRequest()?.stateCode === DataRequestStateEnum.Active) {
      <app-agridata-button
        class="flex-1"
        [variant]="ButtonVariants.Primary"
        [loading]="isPausing()"
        (handleClick)="openPauseConfirmation()"
      >
        {{ t('actions.pause') }}
      </app-agridata-button>
      }
    </div>
  </app-data-request-details>

  <app-modal
    [open]="showPauseConfirmation()"
    [title]="t('actions.pauseConfirmation.title')"
    [dataTestId]="'pause-request-modal'"
    (closed)="closePauseConfirmation()"
  >
    <div class="flex flex-col gap-6">
      <span>{{ t('actions.pauseConfirmation.description', pauseDescriptionParams()) }}</span>
      <div class="flex justify-between gap-2">
        <app-agridata-button
          [variant]="ButtonVariants.Secondary"
          (handleClick)="closePauseConfirmation()"
        >
          {{ t('actions.pauseConfirmation.cancel') }}
        </app-agridata-button>
        <app-agridata-button
          [variant]="ButtonVariants.Primary"
          [loading]="isPausing()"
          (handleClick)="pauseRequest()"
        >
          {{ t('actions.pauseConfirmation.confirm') }}
        </app-agridata-button>
      </div>
    </div>
  </app-modal>
</ng-container>
