/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';

@theme {
  --color-agridata-primary-50: #eaf0fa;
  --color-agridata-primary-100: #d6e0f5;
  --color-agridata-primary-200: #bbccee;
  --color-agridata-primary-300: #99b3e6;
  --color-agridata-primary-400: #7799dd;
  --color-agridata-primary-500: #5580d5;
  --color-agridata-primary-600: #3366cc;
  --color-agridata-primary-700: #2b55aa;
  --color-agridata-primary-800: #224488;
  --color-agridata-primary-900: #1a3366;

  --color-agridata-secondary-600: #00aa8d: ;
}

/* Base font & colors for the whole app */
body {
  font-family: 'Inclusive Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: var(--color-slate-50);
}

/* Reset default margins on all headings, then re-apply our own */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
  color: inherit; /* inherit from body or container */
  line-height: 1.2;
}

/* Your “default” h2 style */
h2 {
  font-size: 1.5rem; /* ~24px at base 16px font */
  margin-top: 1.5rem; /* space above */
  margin-bottom: 1rem; /* space below */
}

button {
  border: 1px solid;
  border-radius: 0.375rem; /* ~6px */
  padding: 0.5rem 1rem; /* ~8px top/bottom, ~16px left/right */
  cursor: pointer;
  outline-color: var(--color-gray-900);
  outline-offset: 0.125rem;
}

button.button-primary {
  color: white;
  border-color: var(--color-blue-500);
  background-color: var(--color-blue-500);
}

button.button-primary:hover {
  background-color: var(--color-blue-400);
  border-color: var(--color-blue-400);
}

button.button-primary-accept {
  color: white;
  border-color: var(--color-green-600);
  background-color: var(--color-green-600);
}

button.button-primary-accept:hover {
  background-color: var(--color-green-500);
  border-color: var(--color-green-500);
}

button.button-secondary {
  color: var(--color-agridata-primary-600);
  border-color: var(--color-agridata-primary-600);
  background-color: transparent;
}

button.button-secondary:hover {
  border-color: var(--color-blue-400);
}
