/* You can add global styles to this file, and also import other style files */
@import './styles/tailwind.css';
@import './styles/utilities.css';

/* Base font & colors for the whole app */
body {
  font-family: 'Inclusive Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: var(--color-slate-50);
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* Reset default margins on all headings, then re-apply our own */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}

/* Your “default” h2 style */
h2 {
  font-size: 1.5rem; /* ~24px at base 16px font */
}

button {
  cursor: pointer;
  outline-color: var(--color-gray-900);
  outline-offset: 0.125rem;
}

input {
  outline-color: var(--color-gray-900);
}
