/* You can add global styles to this file, and also import other style files */
@import './styles/tailwind.css';
@import './styles/utilities.css';

/* Base font & colors for the whole app */
body {
  font-family: 'Inclusive Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  background-color: var(--color-slate-50);
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

/* Reset default margins on all headings, then re-apply our own */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1.2;
}

/* Your “default” h2 style */
h2 {
  font-size: 1.5rem; /* ~24px at base 16px font */
}

button {
  cursor: pointer;
  outline-color: var(--color-gray-900);
  outline-offset: 0.125rem;
}

.agridata-button {
  border: 1px solid;
  border-radius: 0.375rem; /* ~6px */
  padding: 0.5rem 1rem; /* ~8px top/bottom, ~16px left/right */
}

.agridata-button.agridata-button-primary {
  color: white;
  border-color: var(--color-blue-500);
  background-color: var(--color-blue-500);
}

.agridata-button.agridata-button-primary:hover {
  background-color: var(--color-blue-400);
  border-color: var(--color-blue-400);
}

.agridata-button.agridata-button-primary-accept {
  color: white;
  border-color: var(--color-green-600);
  background-color: var(--color-green-600);
}

.agridata-button.agridata-button-primary-accept:hover {
  background-color: var(--color-green-500);
  border-color: var(--color-green-500);
}

.agridata-button.agridata-button-primary-accept:disabled {
  background-color: var(--color-green-200);
  border-color: var(--color-green-200);
  cursor: not-allowed;
}

.agridata-button.agridata-button-secondary {
  color: var(--color-agridata-primary-600);
  border-color: var(--color-agridata-primary-600);
  background-color: transparent;
}

.agridata-button.agridata-button-secondary:hover {
  border-color: var(--color-blue-400);
}

.agridata-button.agridata-button-secondary-reject {
  border-color: var(--color-red-600);
  color: var(--color-red-600);
}

.agridata-button.agridata-button-secondary-reject:hover {
  border-color: var(--color-red-400);
  color: var(--color-red-400);
}

.agridata-button.agridata-button-secondary-reject:disabled {
  border-color: var(--color-red-300);
  color: var(--color-red-300);
  cursor: not-allowed;
}
