<div
  class="border border-agridata-stroke rounded-md divide-y divide-agridata-stroke overflow-hidden"
  *i18n="let t; prefix: 'consent-request'"
>
  @if (consentRequests()?.length === 0) {
    <app-empty-state></app-empty-state>
  }

  @for (request of consentRequests(); track request.id) {
    <div
      (click)="handleClick(request)"
      (keydown.enter)="handleClick(request)"
      class="flex flex-col gap-4 p-4 pl-6 hover:bg-agridata-primary-50 cursor-pointer group"
      [class.bg-white]="request.stateCode !== ConsentRequestStateEnum.Opened"
      [class.bg-sky-50]="request.stateCode === ConsentRequestStateEnum.Opened"
    >
      <div class="flex justify-between">
        <span class="text-agridata-primary-text font-normal">
          {{ formatRequestDate(request) }}
        </span>
        <app-agridata-badge
          [text]="t(`dataRequest.stateCode.${request.stateCode}`)"
          [size]="BadgeSize.MD"
          [variant]="getBadgeVariant(request)"
        />
      </div>
      <div class="flex justify-between">
        <app-agridata-contact-card
          [name]="request.dataRequest?.dataConsumerDisplayName"
          [imageUrl]="request.dataRequest?.dataConsumerLogoBase64"
          [secondaryName]="request.dataRequest?.dataConsumerCity"
          [size]="AvatarSize.MEDIUM"
          [skin]="AvatarSkin.LIGHT"
        />
        <app-agridata-button
          click-stop-propagation
          [variant]="ButtonVariants.Icon"
          (onClick)="handleClick(request)"
        >
          <fa-icon size="xl" [icon]="faChevronRight" class="text-agridata-primary-600" />
        </app-agridata-button>
      </div>
      <span class="text-agridata-primary-600">
        {{ getTranslatedTitle(request) }}
      </span>
      @if (request.stateCode === ConsentRequestStateEnum.Opened) {
        <app-agridata-button
          click-stop-propagation
          [variant]="ButtonVariants.PrimaryAccept"
          (onClick)="acceptRequest($event, request)"
        >
          {{ t('table.tableActions.consent') }}
        </app-agridata-button>
      }
    </div>
  }
</div>
