name: CI/CD Pipeline

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]
  merge_group:
    branches: [develop]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npx ng test --code-coverage --browsers ChromeHeadless --watch false

      - name: Run SonarQube Analysis
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: .
          args: >
            -Dsonar.organization=agridata-ch
            -Dsonar.projectKey=agridata-ch_frontend
            -Dsonar.javascript.lcov.reportPaths=coverage/frontend/lcov.info

  semantic-release:
    name: Semantic Release
    if: github.ref == 'refs/heads/main'
    needs: test
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: npm install
        run: npm install

      - name: Build
        run: npm run build -- --configuration=production

      - uses: actions/create-github-app-token@v1
        id: app-token
        env:
          GITHUB_APP_SEMANTIC_RELEASE_APP_ID: 1236243
        with:
          app-id: ${{ env.GITHUB_APP_SEMANTIC_RELEASE_APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY_GITHUB_APP_SEMANTIC_RELEASE }}

      - name: Semantic Release
        env:
          GITHUB_TOKEN: ${{ steps.app-token.outputs.token }}
        run: npx semantic-release

  build-deploy:
    name: Build and deploy application
    needs: semantic-release
    if: github.ref == 'refs/heads/develop'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      IMAGE: ${{ steps.push-image.outputs.image }}
    env:
      AWS_REGION: eu-central-2
      S3_BUCKET: agridata-s3-entwicklung-frontend
      CLOUDFRONT_DISTRIBUTION_ID: EZ4QXZV5B64VV
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::108782064107:role/agridata-application-deployment-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "npm"
          cache-dependency-path: package-lock.json

      - name: npm install
        run: npm install

      - name: npm build
        run: npm run build -- --configuration=production

      - name: Deploy to S3 bucket
        run: |
          aws s3 sync dist/frontend/browser/ s3://${{ env.S3_BUCKET }}/ \
            --region ${{ env.AWS_REGION }} \
            --delete

      - name: Invalidate cloudfront cache
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ env.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*"
