name: CI/CD Pipeline develop

on:
  pull_request:
    branches: [develop]
  push:
    branches: [develop]
  merge_group:
    branches: [develop]

jobs:
  check-single-commit:
    name: '.'
    uses: ./.github/workflows/reusable__check_single_commit.yml
    secrets: inherit

  unit-test-sonarqube:
    name: '.'
    uses: ./.github/workflows/reusable__unit_test_sonarqube.yml
    needs: check-single-commit
    secrets: inherit

  semantic-release:
    if: github.ref == 'refs/heads/develop'
    name: '.'
    uses: ./.github/workflows/reusable__semantic_release.yml
    needs: unit-test-sonarqube
    secrets: inherit

  read-version:
    if: github.ref == 'refs/heads/develop'
    name: '.'
    needs: unit-test-sonarqube
    uses: ./.github/workflows/reusable__read_version.yml

  build-push-s3:
    if: github.ref == 'refs/heads/develop'
    name: '.'
    uses: ./.github/workflows/reusable__build_push_s3.yml
    needs: read-version
    secrets: inherit
    with:
      account-id: 108782064107 # develop
      version: ${{needs.read-version.outputs.version}}

  set-cloudfront-origin-path:
    if: github.ref == 'refs/heads/develop'
    name: '.'
    uses: ./.github/workflows/reusable__set_cloudfront_origin_path.yml
    needs: [read-version, build-push-s3]
    secrets: inherit
    with:
      account-id: 108782064107 # develop
      cloudfront-origin-path: ${{needs.read-version.outputs.version}}
