name: CI/CD Pipeline main

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]
  merge_group:
    branches: [main]

jobs:
  unit-test-sonarqube:
    name: '.'
    uses: ./.github/workflows/reusable__unit_test_sonarqube.yml
    secrets: inherit

  semantic-release:
    if: github.ref == 'refs/heads/develop'
    name: '.'
    uses: ./.github/workflows/reusable__semantic_release.yml
    needs: unit-test-sonarqube
    secrets: inherit

  read-version:
    if: github.ref == 'refs/heads/develop'
    name: '.'
    needs: unit-test-sonarqube
    uses: ./.github/workflows/reusable__read_version.yml
    with:
      branch-name: 'main'

  build-push-s3:
    if: github.ref == 'refs/heads/develop'
    name: '.'
    uses: ./.github/workflows/reusable__build_push_s3.yml
    needs: read-version
    secrets: inherit
    with:
      account-id: 863518438092 # integration
      version: ${{needs.read-version.outputs.version}}

  set-cloudfront-origin-path:
    if: github.ref == 'refs/heads/develop'
    name: '.'
    uses: ./.github/workflows/reusable__set_cloudfront_origin_path.yml
    needs: [read-version, build-push-s3]
    secrets: inherit
    with:
      account-id: 863518438092 # integration
      cloudfront-origin-path: ${{needs.read-version.outputs.version}}

  merge-main-develop:
    if: github.ref == 'refs/heads/main'
    name: '.'
    uses: ./.github/workflows/reusable__merge_main_develop.yml
    needs: [semantic-release]
    secrets: inherit
