name: CI/CD Pipeline

on:
  pull_request:
    branches: [ main ]
  push:
    branches: [ main ]
  merge_group:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Run unit tests
        run: npx ng test --code-coverage --browsers ChromeHeadless --watch false

      - name: Run SonarQube Analysis
        uses: SonarSource/sonarqube-scan-action@v5
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          projectBaseDir: .
          args: >
            -Dsonar.organization=agridata-ch
            -Dsonar.projectKey=agridata-ch_frontend
            -Dsonar.javascript.lcov.reportPaths=coverage/frontend/lcov.info

  build-deploy:
    name: Build and deploy application
    needs: test
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      IMAGE: ${{ steps.push-image.outputs.image }}
    env:
      AWS_REGION: eu-central-2
      S3_BUCKET: agridata-entwicklung-frontend-bucket
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::108782064107:role/agridata-application-deployment-role
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: npm install
        run: npm install

      - name: npm build
        run: npm run build -- --configuration=production

      - name:
        uses: reggionick/s3-deploy@v4
        with:
          folder: dist/frontend/browser
          bucket: ${{ env.S3_BUCKET }}
          bucket-region: ${{ env.AWS_REGION }}
