on:
  workflow_call:
    inputs:
      branch-name:
        type: string
        required: true
    outputs:
      version:
        description: 'version from package.json'
        value: ${{ jobs.read-version.outputs.version }}

jobs:
  read-version:
    name: Read version from package.json
    runs-on: ubuntu-latest
    timeout-minutes: 5
    permissions:
      id-token: write
      contents: read
    outputs:
      version: ${{ steps.version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{inputs.branch-name}}
          sparse-checkout: |
            package.json
          persist-credentials: false

      - name: Read version
        id: version
        run: |
          VERSION=$(jq -r '.version' package.json)
          echo "version=$VERSION" >> "$GITHUB_OUTPUT"
          echo "version: $VERSION"
